.max_height{
    max-height: 76vh;
    overflow: auto;
}
.template_head_bg{
    background: darkkhaki;
    padding: 4px;
}
.inputHeight {
    width: 290px;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}

.d-i-block {
    display: inline-block;
}

.di-ceter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}
.bg-clr {
    background: #ffff;
    padding: 150px;
    border-radius: 10px;
    border: 1px solid #efefef;
}
.custom-btn {
    background: #313971;
    height: auto;
    padding: 6px 14px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.erpSelectionBox {
    background: #e9ecef;
    height: 54px;
    padding: 6px 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #00000029;
    width: 100%;
    select {
    background: transparent;
    border: 0;
    width: 100%;
    position: relative;
    top: -16px;
    left: -16px;
}
}
.bulk {
    gap: 20px;
    align-items: center;
    button {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 250px;
    }
}
.uploadDiv {
    background: #e9ecef;
    width: -webkit-fill-available;
    border-radius: 5px;
    padding: 4px 10px;
    box-shadow: 0px 0px 2px #00000029;
}
.uploadBox {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    border: 1px dashed #358cd0;
    padding: 10px;
    border-radius: 5px;
}