
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 10px;
  // width: 100%;
}


  @media screen and (max-width: 800px) {
    .searchBar {
        top: 45px;
        left: 74%;
    }

  }
  @media screen and (max-width: 576px) {
    .searchBar {
      left: 50%;
    }
    .searchInput {
      width: 83% !important;
    }
   }

   .wild_search_all {
    display: flex;
    height: 54px;
    background: #ffffff;
    padding: 4px 16px;
    border-radius: 4px;
    width: 100%;
    justify-content: space-between;
  }
  .filter_box input {
    border: 0;
    background: inherit;
    height: 30px;
    padding: 6px 0px;
    width: 380px;
  }
  .filter_box input:focus {
    outline: 0;
  }
  .box input {
    position: relative;
    top: -13px;
    border: 0;
    background: inherit;
    padding: 0;
    z-index: 1;
  }