@import "src/styles/documentsStyles";
@include document;

:host ::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    // border: 1px solid #f5f5f5;
    // border-width: 0 0 1px 0;
    padding: 7px;
  }
  .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
  }
  .p-paginator {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .p-paginator .p-paginator-pages .p-paginator-page {
    border: 0 none;
    color: #6c757d;
    min-width: 30px;
    font-size: 12px;
    height: 30px;
    margin: 5px;
    transition: box-shadow 0.2s;
    border-radius: 3px;
  }
  .pi-chevron-down:before {
    content: "\e902";
    font-size: 13px;
  }
  .p-paginator .p-paginator-current {
    font-size: 13px;
  }

  .p-fluid .p-multiselect {
    display: flex;
    height: 30px;
    font-size: 12px;
    padding: 0px;
  }
  .p-multiselect .p-multiselect-label {
    padding: 3px;
    text-align: center;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    font-size: 12px;
    font-weight: 600;
  }
  .p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 12px;
    font-weight: 400;
  }
}
.pos-rel {
  position: relative;
  top: 2px;
}
.scroll{
  max-height: 71vh;
  overflow: auto;
  min-height: 70vh;
}
.icon_style{
  position: relative;
  top: 3px;
}
.i_padding {
padding: 3px 4px !important;
}
.link_padding{
padding: 2px 3px !important;
left: 5px;
}
.font_weight_500 {
font-weight: 500 !important;
}
// @media screen and (max-width: 576px){ 
//    .p-datatable .p-datatable-tbody > tr > td {
//       text-overflow : clip !important;
//       font-size: 12px !important;
//    }
//    .p-datatable .p-datatable-thead > tr > th {
//       text-overflow:clip !important;
//       font-size: 12px !important;
//    }
// }

button:disabled {
  // background-color: black;
  border-radius: 8px;
  opacity: 0.6;
  cursor: not-allowed;
}
.t_search {
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 3px;
  width: 97%;
}
.t_search:focus {
  outline: 0;
}
@media screen and (max-width:576px) {
  .mob_tr {
    border-left: 4px solid white;
    margin-bottom: 6px;
  }
  :host ::ng-deep {
    .p-datatable table {
      border-spacing: 0 5px;
    }
  }
  .scroller {
    height: 70vh;
    overflow-y:scroll;
  }
  .scroll {
    max-height: 77vh;
  }

}