$theme_color: var(--themeColor);

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

:host ::ng-deep {
  .p-dialog .p-dialog-header {
    padding-bottom: 0px;
    padding-left: 20px !important;
  }
  .ng2-pdf-viewer-container {
    height: 82vh !important;
    max-height: 82vh;
  }

  .p-button.p-button-icon-only {
    background-color: #ffffff;
  }

  .mapping .p-button.p-button-icon-only {
    background-color: transparent;
    border:0;
  }
}
.input_disabled {
  background: inherit;
  border: 0;
}
.td_padding {
  padding: 0px;
}
.represent_color {
  height: 10px;
  width: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 5px;
}
.prev_value {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: fit-content;
  color: #F6616B;
    display: flex;
    align-items: center;
    height: 30px;
}

.sel_drp {
  height: 22px;
  padding: 0px 3px;
  max-width: 160px;
  display: inline-block;
}

.invoice_color {
  background-color: #FFFFFF;
}
.po_color {
  background-color: #EAF3F9;
}
.grn_color {
  background-color: #ded1e9;
}
.doc_height {
  height: 30px;
  display: flex;
}
.mapping_line {
  position: relative;
  top: -5px;
}

.textType::before {
  content: attr(data-text);
  font-size: 9px;
  font-weight: 600;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.po_bg_clr::before {
  background-color: $theme_color;
  color: white;
}
.in_bg_clr::before {
  background-color: #ffffff;
  color: #000000;
}
.w-fill {
  width: -webkit-fill-available;
}
.in-w {
  width: 60px;
  border: none;
}

.refresh_btn {
  display: flex;
  position: relative !important;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.s-no{
  font-size: 12px;
  font-weight: 600;
  height: 34px;
  position: relative;
  top: 6px;
}
.m-l-neg{
  // margin-left: -20px;
  min-width: 50px !important;
    max-width: 68px;
}
.act_cls {
  max-width: 50px;
}
.large_input_box {
  width: calc(45.5svw - 103px);
}
#addLine {
  position: relative;
  top: -7px;
}
@media screen and (max-width: 1200px) {
  .position_rule {
    left: 50vw;
  }
  .changePOInput {
    right: 100px;
  }
}
.count_line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}
.count-h {
  min-height: 56px;
}
.count-h_normal {
  min-height: 26px;
}
@media screen and (max-width: 1000px) {

}



// new theme
.invoice-body {
  margin: 5px 0px;
  border-radius: 10px;
  padding: 14px 0px 0px;
  padding-left: 0;
  max-height: calc(100svh - 107px);
  overflow: auto;
  margin: 0 -18px;
}
.header_container {
  padding: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #00000029;
  border-radius: 5px;
  opacity: 1;
}
.input_container {
  position: relative;
  background: #F5F6F5;
  padding: 0px 10px;
  border-radius: 5px;
  height: 50px;
  min-width: calc(23svw - 60px);
}
.inv_inp_cls {
  font-size: 0.75rem;
  font-weight: 400;
  color: black;
  height: 20px;
  /* margin-right: 5px; */
  width: 100%;
  background: inherit;
  border: 0;
  padding: 0;
}
.displayFlex {
  gap: 10px;
}
.status_btn {
  background: #FEDFE2 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  padding: 6px 20px;
  height: 30px;
  top: 0;
  left: 0;
  width: fit-content;
}
.m_r_80 {
  margin-right: 90px;
}
.pipe {
  position: relative;
  top: -2px;
  color: gray;
  font-size: larger;
}
.basic_details {
  position: relative;
  top: 5px;
}
.dummy_div {
  height: 45px;
  position: absolute;
  background: white;
  top: -11px;
  z-index: 0;
}
.dynamic {
  .invert_th_td {
    display: table-cell;
  }
  .invert_thtd {
    display: table-cell;
  }
  .invert_tr {
    display: table-row;
    float: none;
  }
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  tr:nth-child(odd) {
    background-color: #358cd01a;
  }
  .invert_tr td:nth-child(even) {
    background-color: inherit;
  }
 .invert_tr td:nth-child(odd) {
    background-color: inherit;
  }
  input {
    background-color: initial;
    padding: 13px 4px;
  }
  .s_count {
    min-width: 50px;
  }
}
.invert_tr td:nth-child(even) {
    background-color: #ffffff;
  }
 .invert_tr td:nth-child(odd) {
    background-color: #358cd01a;
  }
  .linevalue button {
    padding: 3px 6px;
    height: 31px;
  }
  .trash_btn {
    border-color: transparent;
    background: inherit;
    height: 32px !important;
  }
  .w-st {
    width: 11vw;
  }
  .total {
    display: flex;
    width: fit-content;
    background: $theme_color;
    color: white;
    height: 34px;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 43px;
    left: 0;
  }
  .hide {
    visibility: hidden;
  }
  .invert {
    display: flex;
    // overflow: auto;
  }
  .invert_tr {
    display: block;
    float: left;
    background-color: #f5f5f5;
    width: 100%;
    // border-bottom: 5px solid white;
    // width: 100%;
  }
  .invert_th_td {
    display: block;
  }
  .invert_thtd {
    display: flex;
  }
  .w-des {
    min-width: 400px;
  }
  .w-sm {
    width: 85px;
  }
  
  .lineName {
    padding: 10px 10px;
    font-size: 11px;
    padding-left: 10px;
    min-width: 130px;
    // max-width: 130px;
    font-weight: 600;
    background-color: #EBEBEB !important;
    position: sticky;
    left: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .linevalue {
    padding: 1px 10px;
    font-size: 12px;
    height: 30px;
  }
  #grnTable {
    overflow: auto;
    max-height: calc(100vh - 270px);
    min-height: calc(100vh - 270px);
    .linevalue {
      height: auto;
    }
  }
  #grnTable .linevalue {
    height: auto;
  }
  .disable_div {
    background: #358dc01a 0% 0% no-repeat padding-box;
  }
  .input_box {
    background-color: #F5F6F5;
    height: 54px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .input_box_field {
    border: 0;
    background-color: inherit;
    position: relative;
    top: -11px;
    left: -9px;
    z-index: 1;
  }
  .input_box label {
    position: relative;
    z-index: 2;
    top: -5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .form-control {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .selection_Div .input_box label{
    top: 0;
  }
  .selection_Div .input_box select{
    width: 230px;
    padding: 5px;
    font-size: 14px;
    margin-top: 5px;
  }
  select option {
    display: inline-block;
    padding: 5px;
    background-color: $theme_color;
    color: white;
    border-bottom: 1px solid white;
  }
  .selection {
    height: 54px;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 5px 17px;
  }
  :host ::ng-deep {
    .selection .p-calendar {
      top: -10px;
      width: -webkit-fill-available;
    }
    .selection .p-calendar .p-inputtext {
      width: -webkit-fill-available !important;
      background: #f3f3f3;
      font-size: 14px !important;
      font-weight: 600;
      padding-left: 0;
      position: relative;
      top: -3px;
      z-index: 1;
    }
    .selection .p-button.p-button-icon-only {
      background-color: #ffffff;
      top: -15px;
    }
    .p-autocomplete {
      display: inline-flex;
      position: relative;

  }
  .invType .p-autocomplete {
    height: 35px;
    background: #f2f2f2;
    border-radius: 6px;
    box-shadow: 1px 1px 6px #00000010;
  }
  .project .p-autocomplete{
    height: 28px;
    width: 14svw;
    position: relative;
    top: -5px;
  }
  .project .p-autocomplete-dd .p-autocomplete-input {
    padding-left: 0;
    width: auto !important;
    font-size: 12px;
    color: #000000;
    // font-weight: 600;
  }
  .p-dropdown {
      border:0 !important;
      font-weight: 500 !important;
      border-radius: 6px !important;
      height: 35px !important;
      margin-bottom: 0px !important;
      background-color: #f2f2f2;
      box-shadow: 1px 1px 6px #00000010;
  }
  .p-dropdown-items {
    background-color: $theme_color;

  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
    .p-autocomplete-dd .p-autocomplete-input {
      font-size: 12px;
      font-weight: 500;
      border: 0;
      background: transparent;
    }
  
  }
  .total_table{
    position: absolute;
    bottom: 0px;
    color: white;
    left: -2px;
}
.total_table tr:nth-child(1) {
    height: 30px;
    background: $theme_color;
}
.total_table tr:nth-child(2){
    height: 30px;
    background: #358dc01a;
    color: black;
}
.total_table tr td {
    width: 13vw;
}
.total_txt {
  width: 40vw !important;
}
.total_count {
  width: 200px !important;
  text-align: center;
}
.tabDiv {
  max-height: calc(100vh - 162px);
  min-height: calc(100svh - 220px);
  overflow-y: auto;
  padding: 6px 10px;
}
.line_height {
  max-height: calc(100vh - 224px);
}
.inv_number {
  border: 0;
  background-color: inherit;
  border-bottom: 1px solid lightgray;
}
.inv_number:focus {
  outline: 0;
}
.btnFooter {
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  // width: 100vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  // box-shadow: 0px 0px 4px #00000029;
  padding: 8px;
  right: 0px;
  // left: -80px;
  height: 45px;
  z-index: 300;
}
.img-browse {
  background-color: $theme_color;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
}
.reject_comment {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  th {
    font-weight: 700 !important;
  }
  th,td {
    border:1px solid #e1e1e1;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    background: white;
  }
}
.circles {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: #009f18;
  color: #009f18;
  font-size: 21px;
  border: 7px solid #efefef;
  margin-left: 40px;
  position: relative;
  top: 10px;
}

.activeH {
  // background-color: green;
  color: green;
}
.activeBar {
  border: 4px solid #f2be42 !important;
}

.circle-desc-active {
  font-weight: bold;
  color: #f2be42;
}

.bar {
  width: 2px;
  height: 80px;
  margin-bottom: -20px;
  margin-top: -40px;
  border: 2px solid #e9ecef;
  color: #000;
  background-color: #000;
  display: block;
  margin-left: 180px;
}

.container-h {
  min-width: 320px;
  margin: "0px auto";
  // text-align: center;
}
.max-h {
  max-height: 82vh;
  overflow: auto;
  min-height: 79vh;
  // padding: 0px 20px 40px 20px;
}
.max-h .div1 {
  position: absolute;
    top: -10px;
    right: 30px;
}

.status_text {
  position: relative;
  top: 12px;
}

.circle-desc {
  font-size: 13px;
  font-weight: 600;
  margin-left: 25px;
  position: relative;
  top: -7px;
  padding: 10px 0px 10px 32.2px;
  border-right: 9px solid #67d878;
  background-color: rgba(49, 57, 113, 0.03);
  width: 60vw;
  display: inline-block;
  border-radius: 8px;
  min-height: 65px;
}
.circle-desc::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -14px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent rgba(49, 57, 113, 0.03) transparent transparent;
}

.rotateText {
  color: #303972;
  position: absolute;
  top: 47px;
  left: 99%;
  transform-origin: left bottom;
  transform: rotate(-90deg);
}

.date_box {
  width: 130px;
  position: relative;
  left: 15px;
  top: 10px;
  padding: 6px 26px;
  font-size: 11px;
  font-weight: 600;
  background: #303972;
  color: white;
  display: inline-block;
  border-radius: 5px;
}

.date_box::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #303972;
}
@media screen and (width > 1415px) {
  // .total_count {
  //   width: 10vw !important;
  // }
  .input_container {
    min-width: calc(22svw - 60px);
  }
  .large_input_box {
    width: calc(44.5svw - 117px);
  }
  .w-st {
    width: 11.5vw;
  }
}

@media screen and (width > 1950px) {
  // .total_table tr td {
  //   width: 25vw;
  // }
  .w-st {
    width: 12vw;
  }

}

@media screen and (width <= 768px){
  .doc_mobile {
    // display: none;
    position: absolute;
    top: 0px;
    z-index: 124;
    background: #272727;
  }
  .doc_cls_btn {
    height: 25px;
    width: 25px;
    border: 1px solid lightgray;
    display: inline-block;
    background: white;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1;
  }
  .m_r_80 {
    margin-right: 10px;
  }
  .invType {
    position: relative;
    left: 30px;
  }
  .large_input_box {
    width: 85vw;
  }
}
.label-head {
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 142px;
}

.inputHeight {
  font-size: 12px;
  height: 30px;
  margin-right: 5px;
  width: 142px;
}
.addbtn{
  font-size: 12px;
  height: 30px;
  margin-right: 5px;
  width: 60px;
  position: relative;
  font-weight: 700 !important;
  align-items: center;
}
// .addbtn:hover{
//   cursor: pointer;
// }
.buttonposition{
  padding-top: 20px;
}
.btn-add{
  background-color: #89D390 !important;
  color: #ffffff !important;
}
.btn-cancel{
  background-color: #f0b66b !important;
  color: #ffffff !important;
}
.addicon{
  color: #fafafa;
  line-height: .7 !important;
}
.head-box{
  position: relative; 
  line-height: 1 !important;
}
dialog {
  z-index: 10;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 6px 12px #00000029;
  border: none;
  border-radius: 5px;
  height: 230px;
  width: 450px;
  position: absolute;
  transform: translatey(100%);
  overflow: visible;
}
dialog::backdrop {
  background-color: rgb(247 247 255 / 80%);
  opacity: 0;
}
.calendar {
  display: inherit;
  cursor: pointer;
}
.r-340 {
  right: 340px !important;
}
.r-490 {
  right: 495px !important;
}
.maxHDiv {
  max-height: 65vh;
  overflow: auto;
}