<div class="card_container d-flex flex-wrap" 
 [ngClass]="{
  'exc_height': router.url.includes('ExceptionManagement'),
  'grn_height': router.url.includes('Create_GRN_inv_list'),
  'doc_height': router.url.includes('invoice') || router.url.includes('documentSummary')
}"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [scrollWindow]="false"
        (scrolled)="onScroll()">
  <ng-container *ngFor="let e_data of columnsData | filter : searchText">
    <div class="card" (click)="!router.url.includes('documentSummary') ?editInvoice(e_data):''">
      <div *ngIf="!router.url.includes('documentSummary')" class="d-flex justify-content-between">
        <div
          class="f-12 status_btn"
          [title]="e_data?.docheaderID"
          [ngStyle]="{
            backgroundColor: router.url.includes('ExceptionManagement')
              ? '#FEDFE2'
              : '#358dc01a'
          }"
        >
          {{
            router.url.includes("ExceptionManagement")
              ? e_data?.status
              : e_data?.docheaderID
          }}
        </div>
        <div class="f-12 po_number" [title]="e_data?.PODocumentID">
          {{ e_data?.PODocumentID }}
        </div>
        <div *ngIf="router.url.includes('PO')" class="refresh" (click)="refreshPO($event,e_data.idDocument)">
          <img src="assets/Serina Assets/new_theme/refresh-ccw.svg" alt="refresh" >
        </div>
      </div>
      <div class="headings" [ngStyle]="{'height':router.url.includes('rejected')?'auto':'60px'}">
        <div class="f-14 capitalized_text">{{ e_data?.VendorName?.toLowerCase() }} {{e_data?.ServiceProviderName?.toLowerCase()}}</div>
        <div class="f-14 shade_color">{{ e_data?.EntityName }}</div>
      </div>
      <div class="d-flex justify-content-between" *ngIf="router.url.includes('invoice')" style="position: relative;">
        <div class="d-flex" >
          <ng-container *ngFor="let icon of source_icons">
            <div class="src mr-2" *ngIf="icon?.name == e_data?.sourcetype &&(router.url.includes('allInvoices') ||router.url.includes('ServiceInvoices')||router.url.includes('archived'))"><img  [src]="icon?.src" [alt]="icon?.name"></div>
          </ng-container>
          <div class="f-12 status_text">
            <span *ngIf="router.url.includes('allInvoices') ||router.url.includes('ServiceInvoices') || router.url.includes('PO') ">
              <ng-container *ngFor="let color of bgColorCode">
                <span *ngIf="e_data.documentStatusID == color.sub_id && e_data.documentsubstatusID != 39"
                [ngStyle]="{
                  color:
                    e_data.documentStatusID == color.id
                      ? color.textColor
                      : ''
                }">{{ e_data?.docstatus }}</span>
              </ng-container>
            </span>
            <span class="text_color" *ngIf="router.url.includes('GRN') || router.url.includes('archived')">
              GRN: {{ e_data?.docheaderID }}
            </span>
            <span class="text_color" *ngIf="router.url.includes('rejected')">
              {{ e_data?.documentdescription }}
            </span>
          </div>
        </div>
        <div *ngIf="router.url.includes('allInvoices')" class="src w-16" (click)="!isOpen ? more_opt($event, e_data?.idDocument) : close_more($event,e_data?.idDocument)">
          <i *ngIf="!isOpen || invoiceID != e_data?.idDocument" class="fa fa-ellipsis-v f-14" ></i>
          <span *ngIf="isOpen && invoiceID == e_data?.idDocument" class="material-icons f-14"> close </span>

        </div>
        <div id="more_dp{{e_data?.idDocument}}" class="f-12 dropdown">
          
          <div (click)="checkStatus($event,e_data)">ERP Status</div>
          <div (click)="viewStatusPage($event,e_data)">Invoice Status History</div>
          <div *ngIf="e_data.documentStatusID == 1 && isAdmin" (click)="triggerBatch($event,e_data.idDocument)"
          [disabled]="
            triggerBoolean && invoiceID == e_data.idDocument
          ">Re-trigger the batch</div>
          <div *ngIf="e_data.documentStatusID == 1 && isAdmin" (click)="changeStatus($event,e_data.idDocument)">Status rollback</div>
        </div>
        <div *ngIf="router.url.includes('GRN')" class="grn_src f-12" [ngStyle]="{ backgroundColor:e_data?.grn_type == 'Serina' ? '#358DC0':'#14BB12'}">
          {{e_data?.grn_type}}
        </div>
      </div>
      

      <div
      *ngIf="!router.url.includes('documentSummary')"
        class="card_footer d-flex justify-content-between align-items-center"
      >
        <div>
          <!-- <img
            class="d-inline mr-3"
            src="assets/Serina Assets/new_theme/calender.svg"
            alt="calender"
          /> -->
          <i class="pi pi-calendar p_icon mr-3"></i>
          <div class="d-inline f-12" *ngIf="e_data?.CreatedOn">
            {{ e_data?.CreatedOn + "Z" | date : "yyyy-MM-dd, h:mm a" }}
          </div>
        </div>

        <div class="f-12 text_color"> AED:{{ e_data?.totalAmount }}</div>
      </div>

      <div class="d-flex total_div justify-content-between p-2" *ngIf="router.url.includes('documentSummary')">
        <div class="pages_div f-12">
          Total Pages 
          <div class="count_holder">{{ e_data?.TotalPages}}</div>
        </div>
        <div class="f-12">
          Total Invoices 
          <div class="count_holder">{{ e_data?.TotalInvoices}}</div>
        </div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="!(columnsData?.length > 0)" class="f-12">No data found.</div>
</div>

<ngx-spinner
  bdColor="rgba(251, 251, 251, 0.8)"
  size="medium"
  color="#070900"
  [fullScreen]="false"
  type="ball-spin-clockwise"
>
  <p style="color: rgb(0, 0, 0)"></p>
</ngx-spinner>
<!-- Cnfirmation Dialog -->
<p-dialog
  header=" "
  [(visible)]="displayResponsivepopup"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="text-center">
    <div>
      <i
        class="pi pi-exclamation-triangle"
        style="font-size: 4rem; color: red"
      ></i>
    </div>
    <div class="deleteDivText">
      {{ confirmText }}
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-end mb-3">
      <button
        class="btn btnVender bg-btn-cancel mr-3"
        (click)="displayResponsivepopup = false"
      >
        Ok
      </button>
      <!-- <button
        class="btn btnVender bg-btn-cancel"
        (click)="displayResponsivepopup = false"
      >
        Cancel
      </button> -->
    </div>
  </ng-template>
</p-dialog>

<!-- Cnfirmation Dialog -->
<p-dialog
  header=" "
  [(visible)]="checkstatusPopupBoolean"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="text-center">
    <div>
      <!-- <i
        class="pi pi-exclamation-triangle"
        style="font-size: 4rem; color: red"
      ></i> -->
    </div>
    <div class="deleteDivText">
      {{ statusText }} <br />
      <div class="f-12">{{ statusText1 }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <!-- <div class="d-flex justify-content-center mb-3">
      <button class="btn btnVender bg-btn-success mr-3" (click)="logout()">
        Yes
      </button>
      <button
        class="btn btnVender bg-btn-cancel"
        (click)="displayResponsivepopup = false"
      >
        Cancel
      </button>
    </div> -->
  </ng-template>
</p-dialog>
