$theme_color: var(--themeColor);

.leftSide{
background-color: $theme_color;
min-height: 100vh;
max-height: 100vh;
padding-right: 0;
}
.rightSide{
background-color: #ffffff;
min-height: 100vh;
max-height: 100vh;
}
.errorclass{
    color: #eb2f06;
    font-size: xx-small;
}
h1 {
    font-size: 24px;
    color: white; 
}

.login-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.microsoft-login-button {
    border: none;
    width: 100%;
  }
  
  .microsoft-login-button img {
    width: 25px;
    height: 20px;
  }
  .ms {
    width: 20px !important;
    height: 18px !important;

  }
  .msb {
    border-right: 1px solid lightgray;
  }
  
.opaque{
    opacity: 0.5;
}
.clear{
    opacity: 1;
}
.restrictclass{
    color:#1845ad;
    font-size: small;
    text-align: center;
}
.inputinline{
    display:inline-flex;
    width:15%;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 2px;
    margin-left: 1%;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.t-center{
    text-align: center;
    font-weight: 600;
}
.bottom{
    position: absolute;
    bottom: 3%;
    right: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #888888;
}
.bt-text {
    position: relative;
    top: 6px;
}
.bgClr{
    cursor: pointer;
    background: #f2be42;
    font-weight: 600;
    height: 46px;
}
label{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    color: #14010180;
    position: relative;
    z-index: 2;
    top: 3px;
    left: 0;
}
.f-14{
font-size: 14px;
}
.mt-18_ve{
    margin-top: -18px;
}
.eye-show{
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}
.eye-show-1{
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}
.eye-show-2{
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}
.log-head{
    font-weight: 700;
}
.nameHead{
    position: absolute;
    top: 0;
    right: 0;
    img{
        height: 88px;
    }
}
.loginContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 120px;
}
.loginPageText{
    font-weight: 600;
    color: white;
    font-size: 14px;
    text-align: center;
}
.forgotText{
    font-size: 12px;
    font-weight: 600;
    color: #575757;
}
input,
input::-webkit-input-placeholder {
    font-size: 13px;
    
}
.h-55{
    height: 55px;
}
.f-50{
    font-size: 50px;
    font-weight: 700;
}
.otp{
    text-align: center;
}

:host ::ng-deep {
    .otp-input {
        font-size: 22px !important;
    }
    .wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    .otp-input{
        font-size: 20px;
    }
}
.bgImageMask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }


.d_mobile {
    display: block;
}
.pos_rel {
    position: relative;
}
.pos_rel .topRightImg {
    position: absolute;
    top: -80px;
    right: -50px;
}
.pos_rel .topRightImg1 {
    position: relative;
    left: -30px;
    top: -30px;
}
.mainImg {
    padding: 0px 60px;
}
.bottomLeftImg {
    position: absolute;
    left: -92px;
    bottom: -110px;
}
.bottomLeftImg1 {
    position: absolute;
    left: 80px;
    bottom: 0;
}
.color2{
    color: #B2B2B2;
}
.inputGroup {
    background: #F3F3F3 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #00000029;
    border-radius: 5px;
    height: 54px;
    input {
        border: 0;
        background: inherit;
        position: relative;
        top: -8px;
        z-index: 1;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
    }
}
.icon {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginOptions{
    height: 34px;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #00000029;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.horizontal-line {
    position: relative;
    text-align: center;
  }

  .horizontal-line::before,
  .horizontal-line::after {
    content: "";
    display: inline-block;
    width: 46%;
    border-top: 1px solid #7070702a;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
  }

  .horizontal-line::before {
    right: 54%; 
  }

  .horizontal-line::after {
    left: 54%; 
  }
  .cenomiLogo {
    height: fit-content;
    width: 180px;
    margin-top: 15px;
    margin-left: -10px;
  }
@media screen and (max-width: 576px){
    .login-div {
      width: 80vw;
      position: relative;
      right: 0;
      height: max-content;
      margin-top: 100px;
      overflow: auto;
  }
  .loginContent {
    display: none;
  }
  .d_mobile {
    display: none;
    }
    .login-center {
    display: flex;
    justify-content: center;

    }
    .logo_black {
        width: 165px;
        height: 60px;
        position: relative;
        top: 25px;
        left: 25px;
    }
    .nameHead img {
        display: none;
    }
}