$theme_color: var(--themeColor);

.rolespage{
    overflow: hidden;
    max-height: 100vh;
    min-height: 70vh;
    overflow-x: hidden;
}
.border_btn {
    border: 0;
    background: transparent;
}
table {
    width: 100%;
  }

.f-16{
    font-size: 16px;
    line-height: 1;
}
.positionCreateUpload{
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 11;
}
tbody{
    overflow: auto;
    max-height: 80vh;
    border-top: 1px solid lightgray;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #f3969a !important;
}


.formInvalid{
    border:2px solid red;
}

th{
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
}
td{
    color: #0f3f62;
    padding-left: 10px;
}

  .textth{
    font-size: 12px;
    font-weight: 700;
    color: #0f3f62;
  }
  .inputForm{
    height: 35px;
    width: 280px;
    background: white;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
  }
  .d_flex_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }
  .inputForm:focus {
      border: 1px solid #313971;
  }

.inviteLabel{
    font-size: 12px;
    font-weight: 600;
    color: #a29f9f;
    margin-bottom: 0px;
}
.inputBox{
    background: white;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    font-size: 12px;
    height: 35px;
    margin-bottom: 8px;
    font-weight: 600;
}
.inputBox:focus {
    border: 1px solid #313971;
}


.mt-10{
    position: absolute;
    top: 29px;
    left: 358px;
    transition: all 0.5s ease;
    font-size: 20px;
}
.mt-user {
    position: absolute;
    top: 141px;
    left: 375px;
    transition: all 0.5s ease;
    font-size: 20px;
}
.actveBtn{
    border: 0;
    border-radius: 5px;
    margin-left: 15px;
    font-weight: 600;
}
.alertDiv{
    position: absolute;
    bottom: -16px;
}





// entity list
.ul-list {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.normal_height {
    max-height: 30vh;
}
.full_height {
    max-height: 74vh;
}
.listEntity{
    list-style-type: none;
    padding: 10px 0px 10px 20px;
    width: clamp(20vw,330px,330px);
    height: 43px;
    background-color: #F7F6F2;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.text_elipse {
    max-width: 93%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.removeList{
    margin-right: 10px;
    cursor: pointer;
    color: #F08A6B;
    font-size: 16px;
}
:host ::ng-deep .p-autocomplete-dd .p-autocomplete-input, .p-autocomplete-dd .p-autocomplete-multiple-container {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 250px;
    height: 35px;
    font-size: 14px;
    font-family: "Segoe UI Regular", "Segoe UI", Arial;
    font-weight: 600;
    background: transparent;
    border: 0px solid #d3d3d3;
    border-right: 0;
    border-radius: 6px 0px 0px 6px;
    position: relative;
    top: -7px;
    left: -7px;
}
:host ::ng-deep .minWidthOverride{
    width: 187px !important;
}
.pdropdown{
    width: 70% !important;
    margin-bottom: 0px !important;
}
:host ::ng-deep .p-button.p-button-icon-only {
    height: 35px;
    color: #140101;      
    background: transparent;
    border: 0px solid #d3d3d3;
    border-radius: 0px 6px 6px 0px;
    position: relative;
    top: -14px;

}
:host ::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
    margin: 0;
    padding: 5px 1rem;
    border: 0 none;
    color: #495057;
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
    font-size: 11px;
    font-weight: 600;
}
:host ::ng-deep .p-inputtext:enabled:hover {
    border-color: lightgray;
}
:host ::ng-deep .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: lightgray;
}

// primeng Table
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 6px;
}

:host ::ng-deep .p-paginator {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
}
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    border: 0 none;
    color: #6c757d;
    min-width: 30px;
    font-size: 12px;
    height: 30px;
    margin: 5px;
    transition: box-shadow 0.2s;
    border-radius: 3px;
}
:host ::ng-deep .pi-chevron-down:before {
    content: "\e902";
    font-size: 13px;
}
:host ::ng-deep .p-paginator .p-paginator-current{
    font-size: 13px;
}


:host ::ng-deep {
    .update .p-multiselect-panel .p-multiselect-header {
        display: none;
    }
    .p-dialog {
        width: 55vw;
        height: 100vh;
        z-index: 11001;
        background-color: white;
        max-height: 100%;
        margin: 0 !important;
    }
}


  // serach

.searchBar{
    position: fixed;
    z-index: 10;
    top: 62px;
    right: 94px;
}
.searchIcon{
    position: relative;
    top: 5px;
    left: -27px;
    font-size: 21px;
    color: #a9a9a9;
}

.label-head{
    font-size: 12px;
    font-weight: 600;
    color: #9a9a9a;
    white-space: nowrap; 
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.form-control:focus {
    color: #495057;
    border-color: #313971;
    box-shadow: none;
}

.f-14B{
    font-size: 14px;
    font-weight: 600;
}
.clrDes{
    color: #9c9c9c;
}
.roleAccess{
    font-weight: 700;
    margin-bottom: 8px;
}

.b-btm {
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0px 0px 10px 10px;
}

// confirm dailog
:host ::ng-deep .p-dialog .p-dialog-header{
    padding: 0.5rem;
    border-bottom: 1px solid #e2e2e2;
}
:host ::ng-deep.p-dialog .p-dialog-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.deleteDiv{
    display: flex;
    align-items: center;
    margin-top: 0px;
    flex-direction: column;
}
.ml-35 {
    margin-left: 35px;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
    font-size: 16px;
    padding-left:16px;
}
.statusType {
    color: white !important;
}
:host ::ng-deep {
    .p-multiselect {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        background: inherit;
        border: 0;
        position: relative;
        top: -11px;
        left: -6px;
    }
    .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        font-size: 12px !important;
        font-weight: 600 !important;
    }
    .p-auto .p-autocomplete {
        width: 100% !important;
    }
    // .p-autocomplete .p-autocomplete-panel{
    //     width: 100% !important;
    // }
    .p-autocomplete-items{
        font-size: 12px !important;
        font-weight: 600 !important;
    }
}
.btnAction {
    margin-top: 0px !important;
}
.btnAction {
    margin-top: 0px !important;
}

@media screen and (max-width: 800px) {
    .ulTab{
        max-width: 67% !important;
    }
    .statusType{
        width: 68px !important;
        margin: 0;
        padding: 2px 8px !important;
    }
    // :host ::ng-deep .nav-pills .nav-link{
    //     font-size: 9px !important;
    // }
    // :host ::ng-deep.p-datatable .p-datatable-thead > tr > th{
    //     font-size: 8px !important;
    // }
    // :host ::ng-deep .p-datatable .p-datatable-thead > tr > td{
    //     font-size: 8px;
    // }
    .searchInput{
        width: 60%;
    }
    .inputForm{
        width: 90%;
    }
    :host ::ng-deep .p-autocomplete-dd .p-autocomplete-input, .p-autocomplete-dd .p-autocomplete-multiple-container {

        width:288px;
        height: 35px;
        font-size: 10px;
    }
    :host ::ng-deep .minWidthOverride {
        width: 120px !important;
    }
    // .listEntity{
    //     width: 94%;
    //     font-size: 9px;
    // }
    .f-13 {
        // font-size: 9px;
        font-weight: 600;
    }
    .f-12{
        // font-size: 9px !important;
        font-weight: 600;
    }
    .w-30{
        width: 30%;
    }
    .mt-10{
        top: 27px;
        left: 186px;
        font-size: 20px !important;
    }
  }
  @media screen and (max-width: 1100px) and (min-width: 800px) { 
    // .searchBar{
    //     top: 55px;
    //     left: 71%;
    // }
    .statusType{
        margin: 4px;
    }
    .listEntity{
        width: 89%;
        font-size: 11px;
    }
    .f-13 {
        // font-size: 11px;
        font-weight: 600;
    }
    .f-12{
        // font-size: 11px !important;
        font-weight: 600;
    }
    .w-30{
        width: 30%;
    }
    .mt-10{
        left: 264px;
        font-size: 20px !important;
    }
    
  }
  @media screen and (max-width: 576px) { 
    .bg-design-all {
        max-height: 82vh;
        overflow: auto;
    }
    .searchBar {
        top: 100px;
        right: 50px !important;
    }
    .positionCreateUpload {
        right: 0px;
        top: 10px;
    }
    .mr-53 {
        margin-right: 10px !important;
    }
    .mb_tr {
        border-left: 4px solid white;
        margin-bottom: 6px;
    }
    .tabBox {
        width: 100% !important;
    }
    .main_tab {
        flex-wrap: wrap;
    }
    .card {
        width: 100% !important;
    }
    :host::ng-deep {
        .p-dialog {
            width: 90vw !important;
        }
    }
  }
  // new theme
.head_m {
    margin: 0px 54px 10px;
}
.tabBox {
    height: 54px;
    background-color: white;
    width: 49%;
    // display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.tabBox input {
    border: 0;
    background: inherit;
    position: relative;
    top: -15px;
    padding: 0;
}
.pl_20 {
    padding-left: 20px;
}
.card_container {
    // margin: 0px 54px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.role .card{
    height: 90px;
}
.role .user_name {
    height: 40px;
    display: flex;
    align-items: center;
}
.card {
    width: clamp(250px, 22svw, 300px);
    height: 175px;
    padding: 20px 15px 10px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    border: 0;
}
.user_icon {
    height: 60px;
    width: 60px;
    border: 1px solid lavender;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
    margin-right: 10px;
}
.user_name {
    margin-top: 5px;
    max-width: 160px;
}
.user_data {
    padding-bottom: 12px;
    // border-bottom: 1px solid lightgray;
}
.user_down {
    padding-top: 12px;
    position: absolute;
    bottom: 5px;
    width: 90%;
    right: 10px;
    border-top: 1px solid lightgray;
}
.e_count {
    height: 30px;
    width: 30px;
    background: #358dc01a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 22px;
}
.tableDataDiv {
    max-height: calc(80vh - 200px);
    min-height: 66vh;
}
.mr-53 {
    margin-right: 53px;
}
.inputDiv {
    height: 54px;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #00000029;
    border-radius: 5px;
    padding: 6px 10px;
    width: 48%;
    position: relative;
    input,select {
        border: 0;
        background-color: transparent;
        position: relative;
        top: -14px;
        left: -12px;
    }
}
.permisionDiv {
    background: #F7F6F2;
    padding: 8px;
    border-bottom: 0;
    border: 0;
    border-radius: 0;
    height: 43px;
}
input:checked + .slider {
    background-color: $theme_color;
}
.switch {
    width: 34px;
    height: 15px;
}
.slider:before {
    height: 13px;
    width: 13px;
}
.deleteRole {
    position: absolute;
    top: 4px;
    right: 6px;
    cursor: pointer;
}
.actBtn {
    background-color: #14BB12;
    height: 24px;
}
.deactBtn {
    background-color: #BF2D28;
    height: 24px;
}
.user_down .shade_color {
    line-height: 1;
}
.export {
    height: 30px;
    position: relative;
    top: 3px;
    min-width: 50px !important;
}