<nav>
  <img src="assets/Serina Assets/new_theme/logo.png" alt="Serina logo" />
</nav>
<section *ngIf="isPrivacy">
  <header>
    <h4>Data Semantics Private Limited</h4>
    <h6>DATA PRIVACY POLICY</h6>
  </header>
  <div class="p-4 mt-2">
    <h6 class="f-18 f_weight">1)SCOPE OF THIS PRIVACY STATEMENT</h6>
    <p class="f-14">
      Data Semantics Private Limited is a Software as a Service (SaaS) Provider.
      We offer services such as providing content libraries, file sharing &
      secure data rooms (collectively termed as “Services”).Data Semantics
      private limited owns and operates https://datasemantics.co/ (hereinafter
      referred to as ‘website’). The Data Semantics private limited Employee
      Privacy Statement (the “Statement”) outlines our practices regarding the
      collection, use, and disclosure of our Employees’ Personal Data. “Personal
      Data” means individually identifiable information about a person,
      including you, that is collected or otherwise received by Data Semantics
      Private Limited This Statement applies to employees and third-party
      contractors. “Employee” for the purpose of this Statement means current
      employees, former employees, directors, interns, successful applicants,
      and other permanent or temporary workers. We may, from time to time,
      outsource services, functions, or operations of our business to
      third-party service providers. When engaging in such outsourcing, we may
      process certain Personal Data of third-party contractors (for example,
      consultants) who do not qualify as employees during their association with
      Data Semantics private limited
    </p>
  </div>

  <div class="p-4 mt-2 personal">
    <h6 class="f-18 f_weight mt-2">2)USE OF PERSONAL DATA</h6>
    <div class="f-14">
      We may use and disclose Personal Data for purposes connected to your
      employment. These purposes include:
    </div>
    <div class="row f-14 m-0 mt-2">
      <ul class="col-md-6">
        <li>
          Workflow management, such as assigning, managing, and administering
          projects
        </li>
        <li>
          Compensation related-activities, including compensation analysis
        </li>
        <li>Payroll processing</li>
        <li>Performance management</li>
        <li>Succession planning</li>
        <li>
          Benefits, pension and personnel administration, including health and
          medical benefits, leave entitlements, and bonuses
        </li>
        <li>
          Talent management, career development, engagement, and team building
          (including special events), or operations management
        </li>
        <li>Retirement planning and management</li>
        <li>Travel, transportation, and relocation planning</li>
        <li>IT activation, support, and authentication</li>
        <li>Organizational development and communications</li>
        <li>Corporate governance or corporate affairs</li>
        <li>
          Administration and management of Data Semantics private limited
          financial affairs, tax validation, and optimization
        </li>
        <li>
          Preventing unauthorized individuals from accessing, changing or
          deleting your Personal Data
        </li>
        <li>
          Supporting any claim, defence or declaration in a judicial or
          quasi-judicial proceeding
        </li>
        <li>
          Carrying out our contractual obligations with customers and suppliers
          (for example, Personal Data included in purchase orders, quality
          complaints, email correspondences).
        </li>
      </ul>

      <ul class="col-md-6">
        <li>
          Monitoring and preventing sexual harassment, discrimination, fraud or
          other criminal activities
        </li>
        <li>
          Safety and security monitoring while on premises (for example, CCTV
          monitoring and access control cards) and while working from home
        </li>
        <li>Facilitating onboarding and exit of personnel</li>
        <li>Facilitating internal recruitment and hiring</li>
        <li>
          Ensuring an engaging experience, realizing continuous improvement, and
          personalizing the HR services
        </li>
        <li>
          Communicating internally or externally (for example, through
          newsletters or social media)
        </li>
        <li>Offering Employee-specific opportunities and coupons</li>
        <li>Managing memberships to professional associations</li>
        <li>Performing internal or external audits</li>
        <li>
          Conducting corporate transactions (including mergers, acquisitions and
          divestments)
        </li>
        <li>Organizing internal and external events</li>
        <li>
          Achieving the purposes contemplated by any drug and/or alcohol
          policies adopted by Data Semantics private limited from time to time,
          if any, to the extent permitted by applicable law
        </li>
        <li>
          Managing exceptional situations, serious threats to health and
          protecting you and other individuals (for example, other Employees) in
          such situations
        </li>
        <li>Investigating and enforcing disciplinary measures</li>
        <li>
          Dealing with legal disputes involving you, or other Employees,
          workers, and contractors, including accidents at work
        </li>
      </ul>
    </div>
  </div>

  <div class="p-4 mt-2">
    <h6 class="f-18 f_weight">
      3)THE PERSONAL DATA Data Semantics Private Limited COLLECTS
    </h6>
    <div class="f-14">
      Data Semantics Private Limited collects, uses, and stores certain Personal
      Data about you for the purposes described under the above section "Use of
      Personal Data" and in part for the purposes described further in this
      section. The Personal Data that Data Semantics private limited collects,
      uses, and stores include:
    </div>
    <div class="row f-14 m-0 mt-2">
      <ul class="col-md-6">
        <div class="f-18 ml_n_16 f_weight">
          Your personal and family information, such as:
        </div>
        <li>Name</li>
        <li>Emergency contact information</li>
        <li>Succession planning</li>
        <li>Citizenship and country of residence</li>
        <li>Government-issued identification IDs</li>
        <li>
          Salary information and certain income tax documentation of the
          Employee
        </li>
        <li>
          For corporate governance and other regulatory requirements:
          information, such as passport and other identity documentation,
          citizenship, residency, and other visas, signature
        </li>
        <li>
          Education, employment or work history and other relevant background
          information, including CV and related information
        </li>
        <li>
          Information relating to any previous applications you may have made to
          Data Semantics Private Limited and/or any previous employment history
          with Data Semantics Private Limited
        </li>
        <li>Photographs</li>
        <li>
          Contact information (including home address, home phone number, mobile
          phone number,and email address)
        </li>
        <li>
          For communication and employee relations purposes: social media
          profiles (for example, Linkedin handle), and contact information, if
          and to the extent permitted by applicable law
        </li>
        <li>Date of birth (age)</li>
        <li>Gender</li>
        <li>
          For compliance with applicable immigration requirements and to
          facilitate corporate travel: immigration status and information, such
          as passport and other identity documentation, citizenship, residency
          and other visas
        </li>
        <li>
          Forms and information relating to the application for, or in respect
          of changes to, employee health and welfare benefits, including short-
          and long-term disability, medical care, etc.
        </li>
        <li>Letters of offer and acceptance of employment</li>
        <li>Bank account information</li>
      </ul>
      <ul class="col-md-6">
        <div class="f-18 ml_n_16 f_weight">
          Information related to your job, such as:
        </div>
        <li>Job title and description</li>
        <li>Job location</li>
        <li>Department</li>
        <li>Employee identification number</li>
        <li>Work address, telephone number, and email address</li>
        <li>Start and end-dates of employment</li>
        <li>Supervisor</li>
        <li>Reporting level</li>
        <li>Employment status (full-time or part-time; hourly or salaried)</li>
        <li>Contract type</li>
        <li>
          Cost centre and credit card information, expenses, and related audit
          flags
        </li>
        <li>
          Compensation, bonus, and related information (including pay scale,
          variable compensation, and benefits, etc.)
        </li>
        <li>Pay periods</li>
        <li>Overtime and commissions information</li>
        <li>Training records</li>
        <li>
          Job performance and related information and opinions, including
          disciplinary measures
        </li>
        <li>Opinions, including named results</li>
        <li>Talent review ranking and leadership potential ranking</li>
        <li>Payroll information</li>
        <li>Leave entitlement, sickness and absences</li>
        <li>
          Mandatory policy or training acknowledgement sign-off sheets or
          similar communications (paper or electronic)
        </li>
      </ul>
    </div>
  </div>

  <div class="row m-0 m_personal">
    <div class="col-md-6 p-4 pt-5 mt-2">
      <h6 class="f-18 f_weight">4) METHODS OF COLLECTING PERSONAL DATA</h6>
      <div class="f-14">
        We may collect Personal Data about you in the following ways:
      </div>
      <ul class="f-14 p_l_20">
        <li>
          Directly from you, such as through the application and hiring process
          (online or in-person)
        </li>
        <li>
          From other parties, subject to the requirements of applicable law.
          These parties may include:
        </li>
        <ul>
          <li>References</li>
          <li>Publicly available information</li>
          <li>Former employers</li>
          <li>
            Other Employees (for example, to nominate and celebrate a colleague
            for outstanding achievements);
          </li>
          <li>
            Other third parties, such as background check agencies like Mention
            third party (if applicable).
          </li>
        </ul>
      </ul>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img src="assets/Serina Assets/new_theme/Group 2880.svg" alt="" />
    </div>
  </div>

  <div class="row m-0 mt-2">
    <div class="col-md-4 d-flex justify-content-center left">
      <img src="assets/Serina Assets/new_theme/Group 2882.svg" alt="" />
    </div>
    <div class="col-md-8 p-4 pt-5 mt-2">
      <h6 class="f-18 f_weight">5)BASIS OF USE OF YOUR PERSONAL DATA</h6>
      <div class="f-14">
        We may collect and use your Personal Data for the following functions:
      </div>
      <ul class="f-14 p_l_20">
        <li>
          Perform your employment contract (or other similar type of agreement)
          with Data Semantics Private Limited
        </li>
        <li>
          Comply with regulatory requirements (pursuant to, among others,
          labour, tax, and social security laws).
        </li>
        <li>
          We may process some of your Personal Data when this is in our
          legitimate interest. This is the case, for example, when we collect
          and use your Personal Data to:
        </li>
        <ul>
          <li>Organize team building events</li>
          <li>Secure our premises and IT systems</li>
          <li>Handle and investigate complaints</li>
          <li>Prevent or investigate fraud or other criminal activities.</li>
          <li>
            Sometimes, we may process your Personal Data after you have given us
            your prior consent. For example, in certain circumstances, we will
            ask your prior consent before using your photos or videos as part of
            our corporate communications.
          </li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="p-4 mt-2 personal">
    <h6 class="f-18 f_weight mt-3">6)NON-AVAILABILITY OF PERSONAL DATA</h6>
    <ul class="f-14 p_l_20">
      <li>
        Our ability to perform our obligations derived from your employment
        contract (or similar type of agreement) with Data Semantics private
        limited and our ability to comply with our legal and contractual
        obligations sometimes depend on Data Semantics private limited having
        access to and being able to use certain Personal Data.
      </li>
      <li>
        If you do not provide us with the Personal Data we request or if you ask
        that we stop processing your Personal Data, we may not be able to
        perform our contractual obligations (such as paying you for your work)
        or we may be in breach of one or more legal obligations applicable to
        us.
      </li>
    </ul>
  </div>

  <div class="p-4 mt-2">
    <h6 class="f-18 f_weight mt-3">7)ACCESS TO PERSONAL DATA</h6>
    <ul class="f-14 p_l_20">
      <li>
        We may also share Personal Data with other third parties subject to your
        prior consent.
      </li>
      <li>
        Access to your Personal Data will be given to those who need such access
        for the purposes listed above or where required by law. These parties
        include, among others, the Data Semantics private limited Human
        Resources department, relevant business managers, and, on limited
        occasions, members of the Information Technology ("IT"), Finance, Tax,
        and Legal departments.
      </li>
      <li>
        We may share your Personal Data with affiliates or subsidiaries that
        provide shared services within Data Semantics Private Limited, for
        example, in connection with HR services, financial and accounting
        support, credit control, recordkeeping, and payroll.
      </li>
      <li>
        We will carefully select such third parties and will require them to
        only process Personal Data in accordance with the instructions of Data
        Semantics Private Limited. The recipients of these disclosures and their
        information storage systems may be located in other countries. If Data
        Semantics Private Limited discloses Personal Data to such recipients, we
        will require that they will provide an adequate level of protection for
        your Personal Data and that appropriate security measures are in place.
      </li>
      <li>
        Where permitted by applicable law, Personal Data also may be disclosed
        in connection with a corporate restructuring, sale, or assignment of
        assets, merger, divestiture, or other changes of control or financial
        status of Data Semantics Private Limited(or any of its subsidiaries or
        affiliated companies).
      </li>
      <li>
        Finally, Personal Data may be disclosed and transferred to respond to
        law enforcement requests or where required by applicable laws, court
        orders, or government regulations.
      </li>
    </ul>
  </div>

  <div class="row m-0 m_personal">
    <div class="col-md-6 p-4 mt-2">
      <h6 class="f-18 f_weight">8)WHERE IS YOUR PERSONAL DATA STORED?</h6>
      <ul class="f-14 p_l_20">
        <li>
          We maintain reasonable administrative, technical, and physical
          safeguards to protect Personal Data against accidental or unlawful
          destruction, or loss, alteration, unauthorized disclosure or access.
          In the event that we do transfer any Personal Data, we will only do so
          in accordance with applicable law, and will require that there is an
          adequate level of protection for the Personal Data and that
          appropriate security measures are in place.
        </li>
        <li>
          In the event that we do transfer any Personal Data internationally, we
          will only do so in line with applicable law and we will require that
          there is an adequate level of protection for the Personal Data and
          that appropriate security measures are in place.
        </li>
      </ul>
    </div>

    <div class="col-md-6 p-4 mt-2">
      <h6 class="f-18 f_weight">9)EMPLOYEE RIGHTS</h6>
      <div class="f-14">
        Depending on and subject to applicable laws, you have certain rights
        regarding the Personal Data that we hold about you. These rights may
        include the following:
      </div>
      <ul class="f-14 p_l_20">
        <li>The right to access the Personal Data we hold about you</li>
        <li>
          The right, under certain circumstances, to block or suppress further
          use of your Personal Data
        </li>
        <li>
          The right to request the rectification of the Personal Data that we
          hold about you if that information is inaccurate or incomplete
        </li>
        <li>
          The right to object to certain types of processing. The right, under
          certain circumstances, to request the deletion or removal of your
          Personal Data
        </li>
        <div class="f-14 mt-2">
          We will respond to your request as soon as practically possible and
          always within 2 months.
        </div>
      </ul>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-6 p-4 pt-5 mt-2">
      <h6 class="f-18 f_weight">
        10)RETENTION AND ACCURACY OF PERSONAL DATA COLLECTED
      </h6>
      <ul class="f-14 p_l_20">
        <li>
          Data Semantics Private Limited intends to keep Personal Data in its
          control accurate and upto-date. We will retain Personal Data only as
          long as is necessary to carry out the purposes described in this
          Statement.
        </li>
        <li>
          If there are any changes to your Personal Data, please notify the
          Human Resources department. If you inform us of any changes or we
          otherwise become aware of any factual inaccuracies in your Personal
          Data, we will seek to promptly correct such inaccuracies.
        </li>
      </ul>
    </div>

    <div class="col-md-6 d-flex justify-content-center reten">
      <img src="assets/Serina Assets/new_theme/Group 2960.png" alt="" />
    </div>
  </div>

  <div class="p-4 mt-2 personal">
    <h6 class="f-18 f_weight mt-3">11)REVISIONS TO THE STATEMENT</h6>
    <ul class="f-14 p_l_20">
      <li>
        Data Semantics Private Limited may update the statement from time to
        time, and when we do, we will reissue a revised statement and notify all
        Employees of any changes, to the extent required by law.
      </li>
    </ul>
  </div>
  <div class="mt-2">
    <h6>Contact Us</h6>
    <div class="f-14">
      Email : <a href="mailto:help.serina@datasemantics.co">help.serina@datasemantics.co</a> <br>
      Address :  #4210, Churchill Executive Towers, Marasi Drive, Business Bay, Dubai, UAE
    </div>
  </div>
</section>

<section *ngIf="!isPrivacy" class="dpa">
  <header>
    <h4>Data Semantics Private Limited</h4>
    <h6>Data Processing Agreement</h6>
  </header>

  <div>
    <p class="f-14 mt-2">
      This Data Processing Agreement (“DPA”) forms part of the Terms of Use (or
      other similarly titled written or electronic agreement addressing the same
      subject matter) (“Agreement”) between Customer (as defined in the
      Agreement) and Data Semantics Pvt Ltd under which the Processor provides
      the Controller with the software and services (the “Services”). The
      Controller and the Processor are individually referred to as a “Party” and
      collectively as the “Parties”.
    </p>
    <p class="f-14">
      The Parties seek to implement this DPA to comply with the requirements of
      EU GDPR (defined hereunder) in relation to Processor’s processing of
      Personal Data (as defined under the EU GDPR) as part of its obligations
      under the Agreement.
    </p>
    <p class="f-14">
      This DPA shall apply to Processor’s processing of Personal Data, provided
      by the Controller as part of Processor’s obligations under the Agreement.
    </p>
    <p class="f-14">
      Except as modified below, the terms of the Agreement shall remain in full
      force and effect.
    </p>

    <div class="mt-2">
      <h6>1. Definitions</h6>
      <div class="f-14">
        Terms not otherwise defined herein shall have the meaning given to them
        in the EU GDPR or the Agreement. The following terms shall have the
        corresponding meanings assigned to them below:
      </div>
      <ul class="f-14">
        <li>
          1.1. "Data Transfer" means a transfer of the Personal Data from the
          Controller to the Processor, or between two establishments of the
          Processor, or with a Sub-processor by the Processor.
        </li>
        <li>
          1.2. “EU GDPR” means the Regulation (EU) 2016/679 of the European
          Parliament and of the Council of 27 April 2016 on the protection of
          natural persons with regard to the processing of personal data and on
          the free movement of such data and repealing Directive 95/46/EC
          (General Data Protection Regulation).
        </li>
        <li>
          1.3. “Standard Contractual Clauses” means the contractual clauses
          attached hereto as Schedule 1 pursuant to the European Commission’s
          Implementing Decision (EU) 2021/914 of 4 June 2021 on Standard
          Contractual Clauses for the transfer of Personal Data to processors
          established in third countries which do not ensure an adequate level
          of data protection.
        </li>
        <li>
          1.4. “Controller” means the natural or legal person, public authority,
          agency, or other body which, alone or jointly with others, determines
          the purposes and means of the processing of personal data; where the
          purposes and means of such processing are determined by Union or
          Member State law, the controller or the specific criteria for its
          nomination may be provided for by Union or Member State law.
        </li>
        <li>
          1.5. “Processor” means a natural or legal person, public authority,
          agency, or other body which processes personal data on behalf of the
          controller.
        </li>
        <li>
          1.6. “Sub-processor” means a processor/ sub-contractor appointed by
          the Processor for the provision of all or parts of the Services and
          Processes the Personal Data as provided by the Controller.
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>2. Purpose of this Agreement</h6>
      <div class="f-14">
        This DPA sets out various obligations of the Processor in relation to
        the Processing of Personal Data and shall be limited to the Processor’s
        obligations under the Agreement. If there is a conflict between the
        provisions of the Agreement and this DPA, the provisions of this DPA
        shall prevail.
      </div>
    </div>

    <div class="mt-2">
      <h6>3. Categories of Personal Data and Data Subjects</h6>
      <div class="f-14">
        The Controller authorizes permission to the Processor to process the
        Personal Data to the extent of which is determined and regulated by the
        Controller. The current nature of the Personal Data is specified in
        Annex I to Schedule 1 to this DPA.
      </div>
    </div>

    <div class="mt-2">
      <h6>4. Purpose of Processing</h6>
      <div class="f-14">
        The objective of Processing of Personal Data by the Processor shall be
        limited to the Processor’s provision of the Services to the Controller
        and or its Client, pursuant to the Agreement.
      </div>
    </div>

    <div class="mt-2">
      <h6>5. Purpose of Processing</h6>
      <div class="f-14">
        The Processor will Process Personal Data for the duration of the
        Agreement, unless otherwise agreed upon in writing by the Controller.
      </div>
    </div>

    <div class="mt-2">
      <h6>6. Data Controller’s Obligations</h6>
      <ul class="f-14">
        <li>
          6.1. The Data Controller shall warrant that it has all necessary
          rights to provide the Personal Data to the Data Processor for the
          Processing to be performed in relation to the agreed services. To the
          extent required by Data Privacy LAzure, Data Controller is responsible
          for ensuring that it provides such Personal Data to Data Processor
          based on an appropriate legal basis allowing lawful processing
          activities, including any necessary Data Subject consents to this
          Processing are obtained, and for ensuring that a record of such
          consents is maintained. Should such consent be revoked by the Data
          Subject, the Data Controller is responsible for communicating the fact
          of such revocation to the Data Processor.
        </li>
        <li>
          6.2. The Data Controller shall provide all natural persons from whom
          it collects Personal Data with the relevant privacy notice.
        </li>
        <li>
          6.3. The Data Controller shall request the Data Processor to purge
          Personal Data when required by the Data Controller or any Data Subject
          whom it collects Personal Data unless the Data Processor is otherwise
          required to retain the Personal Data by applicable law.
        </li>

        <li>
          6.4. The Data Controller shall immediately advise the Data Processor
          in writing if it receives or learns of any:
          <ul>
            <li>
              6.4.1. Complaint or allegation indicating a violation of Data
              Privacy LAzure regarding Personal Data
            </li>
            <li>
              6.4.2. Request from one or more individuals seeking to access,
              correct, or delete Personal Data
            </li>
            <li>
              6.4.3. Inquiry or complaint from one or more individuals relating
              to the collection, processing, use, or transfer of Personal Data;
              and
            </li>
            <li>
              6.4.4. Any regulatory request, search warrant, or other legal,
              regulatory, administrative, or governmental process seeking
              Personal Data
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>7. Data Processor’s Obligations</h6>
      <ul class="f-14">
        <li>
          7.1. The Processor will follow written and documented instructions
          received, including email, from the Controller, its affiliate, agents,
          or personnel, with respect to the Processing of Personal Data (each,
          an “Instruction”).
        </li>
        <li>
          7.2. The Processing described in the Agreement and the relating
          documentation shall be considered as Instruction from the Controller.
        </li>
        <li>
          7.3. At the Data Controller’s request, the Data Processor will provide
          reasonable assistance to the Data Controller in responding to/
          complying with requests/ directions by Data Subject in exercising
          their rights or of the applicable regulatory authorities regarding
          Data Processor’s Processing of Personal Data.
        </li>
        <li>
          7.4. In relation to the Personal Data, Data Processor shall obtain
          consent (where necessary) and/or provide notice to the Data Subject in
          accordance with Data Protection LAzure to enable shared Personal Data
          to be provided to, and used by, the other Party as contemplated by
          this Agreement.
        </li>
        <li>
          7.5. Where shared Personal Data is transferred outside the Data
          Processor’s territorial boundaries, the transferor shall ensure that
          the recipient of such data is under contractual obligations to protect
          such Personal Data to the same or higher standards as those imposed
          under this Addendum and the Data Protection LAzure.
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>8. Data Secrecy</h6>
      <ul class="f-14">
        <li>
          8.1. To Process the Personal Data, the Processor will use personnel
          who are
          <ul>
            <li>
              8.1.1. Informed of the confidential nature of the Personal Data,
              and
            </li>
            <li>
              8.1.2. Perform the Services in accordance with the Agreement.
            </li>
          </ul>
        </li>
        <li>
          8.2. The Processor will regularly train individuals having access to
          Personal Data in data security and data privacy in accordance with
          accepted industry practice and shall ensure that all the Personal Data
          is kept strictly confidential.
        </li>
        <li>
          8.3. The Processor will maintain appropriate technical and
          organizational measures for protection of the security,
          confidentiality, and integrity of the Personal Data as per the
          specifications as per the standards mutually agreed in writing by the
          Parties.
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>9. Audit Rights</h6>
      <ul class="f-14">
        <li>
          9.1. Upon Controller’s reasonable request, the Processor will make
          available to the Controller, information as is reasonably necessary to
          demonstrate Processor’s compliance with its obligations under the EU
          GDPR or other applicable lAzure in respect of its Processing of the
          Personal Data.
        </li>
        <li>
          9.2. When the Controller wishes to conduct the audit (by itself or
          through a representative) at Processor’s site, it shall provide at
          least fifteen (15) days’ prior written notice to the Processor; the
          Processor will provide reasonable cooperation and assistance in
          relation to audits, including inspections, conducted by the Controller
          or its representative.
        </li>
        <li>9.3. The Controller shall bear the expense of such an audit.</li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>10. Mechanism of Data Transfers</h6>
      <p class="f-14">
        Any Data Transfer for the purpose of Processing by the Processor in a
        country outside the European Economic Area (the “EEA”) shall only take
        place in compliance as detailed in Schedule 1 to the DPA. Where such
        model clauses have not been executed at the same time as this DPA, the
        Processor shall not unduly withhold the execution of such template model
        clauses, where the transfer of Personal Data outside of the EEA is
        required for the performance of the Agreement.
      </p>
    </div>

    <div class="mt-2">
      <h6>11. Sub-processors</h6>
      <ul class="f-14">
        <li>
          11.1. The Controller acknowledges and agrees that the Processor, may
          engage a third-party Sub processor(s) in connection with the
          performance of the Services, provided such Sub processor(s) take
          technical and organizational measures to ensure confidentiality of
          Personal Data shared with them; The current Sub-processors engaged by
          the Processors and approved by the Controller are listed in Annex III
          of Schedule 1 hereto. In accordance with Article 28(4) of the GDPR,
          the Processor shall remain liable to Controller for any failure on
          behalf of a Sub processor to fulfil its data protection obligations
          under the DPA in connection with the performance of the Services.
        </li>
        <li>
          11.2. If the Controller has a concern that the Sub-processor(s)
          Processing of Personal Data is reasonably likely to cause the
          Controller to breach its data protection obligations under the GDPR,
          the Controller may object to Processor’s use of such Sub-processor and
          the Processor and Controller shall confer in good faith to address
          such concern.
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>12. Personal Data Breach Notification</h6>
      <ul class="f-14">
        <li>
          12.1. The Processor shall maintain defined procedures in case of a
          Personal Data Breach (as defined under the GDPR) and shall without
          undue delay notify Controller if it becomes aware of any Personal Data
          Breach unless such Data Breach is unlikely to result in a risk to the
          rights and freedoms of natural persons.
        </li>
        <li>
          12.2. The Processor shall provide the Controller with all reasonable
          assistance to comply with the notification of Personal Data Breach to
          Supervisory Authority and/or the Data Subject, to identify the cause
          of such Data Breach and take such commercially reasonable steps as
          reasonably required to mitigate and remedy such Data Breach.
        </li>
        <li>
          12.3. No Acknowledgement of Fault by Processor. Processor’s
          notification of or response to a Personal Data Breach under this DPA
          will not be construed as an acknowledgement by Processor of any fault
          or liability with respect to the data incident.
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>13. Return and Deletion of Personal Data</h6>
      <ul class="f-14">
        <li>
          13.1. The Processor shall at least thirty (30) days from the end of
          the Agreement or cessation of the Processor’s Services under the
          Agreement, whichever occurs earlier, shall return to the Controller
          all the Personal Data, or if the Controller so instructs, the
          Processor shall have the Personal Data deleted. The Processor shall
          return such Personal Data in a commonly used format or in the current
          format in which it was stored at discretion of the Controller, soon as
          reasonably practicable following receipt of Controller’s notification.
        </li>
        <li>
          13.2. In any case, the Processor shall delete Personal Data including
          all the copies of it as soon as reasonably practicable following the
          end of the Agreement.
        </li>
      </ul>
    </div>

    <div class="mt-2">
      <h6>14. Technical and Organizational Measures</h6>
      <p class="f-14">
        Having regard to the state of technological development and the cost of
        implementing any measures, the Processor will take appropriate technical
        and organizational measures against the unauthorized or unlawful
        processing of Personal Data and against the accidental loss or
        destruction of, or damage to, Personal Data to ensure a level of
        security appropriate to: (a) the harm that might result from
        unauthorized or unlawful processing or accidental loss, destruction or
        damage; and (b) the nature of the data to be protected [including the
        measures stated in Annex II of Schedule 1]
      </p>
    </div>

    <div class="mt-2">
      <h6>Contact Us</h6>
      <div class="f-14">
        Email : <a href="mailto:help.serina@datasemantics.co">help.serina@datasemantics.co</a> <br>
        Address : <address> #4210, Churchill Executive Towers, 
          Marasi Drive, Business Bay, Dubai, UAE</address>
      </div>
    </div>
  </div>
</section>
