.insideCSS {
    // margin: 5px;
    height: calc(100vh - 100px);
    border-radius: 6px;
    padding: 20px 0px;
    background: white;
    // border: 1px solid lightgray;
    border-radius: 6px;
    margin: 0px 15px 0px 10px;
    box-shadow: 0px 0px 33px #e9ecef;
}
.max_h {
    height: calc(100vh - 100px);
    overflow: auto;
    overflow-x: hidden;
    background: white;
    box-shadow: 0px 0px 33px #e9ecef;
    border-radius: 6px;
    margin: 25px 0px;
}

ul li {
    list-style: none;
    position: relative;
    padding-bottom: 15px;
}

ul li a {
    text-decoration: none;
    color: gray;
    padding: 10px 30px;
    display: block;
    font-size: 0.8125rem;
    font-weight: 600;
    position: relative;
    border-radius: 0px 5px 5px 0px;
    height: 42px;
    &.active_in::after{
        content: "";
        position: absolute;
        top: 50%;
        right: -10px; /* Moves the arrow to the outside */
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px; /* Arrow size */
        border-color: transparent transparent transparent #3543C0;
    }
}

.active_in {
    background-color: #3543C0;
    color: #ffffff !important;
}