<h6 class="font_weight mt-2"> 
    <span class="ml-3"> Configuration Settings</span>
</h6>
  <div class="bg-design-all container_div b-top-left m-2">
    <ul>
        <li>
            <a [routerLink]="'approvalSettings'">Approval settings</a>
        </li>
        <!-- <li>
            <a [routerLink]="'changePassword'">Password settings</a>
        </li> -->
        <li>
            <a [routerLink]="'serviceTriggerSettings'">Service-invoices Batch Trigger settings</a>
        </li>
        <!-- <li>
            <a [routerLink]="'VendorInvoicesBatchTriggerSettings'">Vendor-invoices Batch Trigger settings</a>
        </li> -->
    </ul>
</div>
