<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav sideBar d-flex" [mode]="sidebarMode" [opened]="isDesktop" [ngStyle]="{ backgroundColor: !ap_boolean? '#162F65':'#272727'}">
    <div class="d_desk1">
      <div class="logotitle" *ngIf="ap_boolean">
        <div class="logoPlaceholder">
          <img
            class="logo_img"
            src="assets/serinaLogo01.png"
            alt="logo"
            width="130"
            height="42"
          />
        </div>
        <div class="placeLogo">
          <span class="portalName">Customer Portal</span>
        </div>
      </div>
      <div class="logotitle" *ngIf="!ap_boolean">
        <img src="assets/Arenalogo.png" alt="" style="width:100%">
      </div>
      <div class="routeLinks">
        <div
          class="navLink"
          routerLinkActive="active"
          data-text="Dashboard"
          [routerLink]="'home'"
        >
          <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
            home
          </span>
          Dashboard
        </div>

        <div
          *ngIf="uploadPermissionBoolean"
          class="navLink"
          routerLinkActive="active"
          data-text="Upload"
          [routerLink]="'uploadInvoices'"
        >
          <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
            upload_file
          </span>
          Upload
        </div>

        <div
          class="navLink"
          routerLinkActive="active"
          data-text="Exceptions"
          [routerLink]="exceptionRoute"
          (click)="showInnerException()"
          *ngIf="excpetionPageAccess"
        >
          <i
            class="fa fa-pencil-square f-18 ml-r-12"
            aria-hidden="true"
            routerLinkActive="ml-9"
          ></i>

          Exceptions
        </div>
        <ul *ngIf="openBooleanException" class="showHide f-13">
          <li
            class="navLink"
            id="ex_sub"
            *ngIf="vendorInvoiceAccess"
            [routerLink]="'ExceptionManagement'"
            [ngClass]="
              router.url == '/customer/ExceptionManagement'
                ? 'active'
                : 'navLink'
            "
          >
            {{cust_type}} Based
          </li>
          <li
            class="navLink"
            id="ex_sub"
            *ngIf="serviceInvoiceAccess"
            [routerLink]="'ExceptionManagement/Service_ExceptionManagement'"
            [ngClass]="
              router.url ==
              '/customer/ExceptionManagement/Service_ExceptionManagement'
                ? 'active'
                : 'navLink'
            "
          >
            Service Based OCR
          </li>
        </ul>

        <div
          *ngIf="financeapproveDisplayBoolean && vendorInvoiceAccess && ap_boolean"
          class="navLink"
          routerLinkActive="active"
          data-text="Approval"
          [routerLink]="'approved'"
        >
          <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
            verified
          </span>
          Approval
        </div>
        <div
          class="navLink"
          routerLinkActive="active"
          data-text="Create GRN"
          [routerLink]="'Create_GRN_inv_list'"
          *ngIf="GRNCreationAccess && GRNPageAccess && vendorInvoiceAccess && ap_boolean"
        >
          <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
            verified
          </span>
          Create GRN
        </div>

        <div
          class="navLink"
          routerLinkActive="active"
          data-text="Document Status"
          [routerLink]="'invoice'"
        >
          <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
            receipt
          </span>
          Document Status
        </div>

        <div
        class="navLink"
        routerLinkActive="active"
        data-text="Summary"
        [routerLink]="'documentSummary'"
      >
        <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
          receipt
        </span>
        Summary
      </div>

        
        <div
          class="navLink"
          routerLinkActive="active"
          [data-text]="cust_type"
          [routerLink]="'vendor'"
          *ngIf="vendorInvoiceAccess && vendor_SP_PageAccess"
          (click)="sideMenuVendor()"
        >
          <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
            business_center
          </span>
          {{cust_type}}
        </div>
        <ul *ngIf="openBooleanVendor" class="showHide f-13">
          <li
            class="navLink"
            id="ex_sub"
            [routerLink]="'vendor'"
            [ngClass]="router.url == '/customer/vendor' ? 'active' : 'navLink'"
          >
            List
          </li>
          <li
            *ngIf="ap_boolean"
            class="navLink"
            id="ex_sub"
            [routerLink]="'vendor/item_master'"
            [ngClass]="
              router.url.includes('item_master') ? 'active' : 'navLink'
            "
          >
            Item Master
          </li>
        </ul>

        <div
          class="navLink"
          [routerLink]="'serviceProvider'"
          routerLinkActive="active"
          data-text="Service Provider"
          (click)="showInner()"
          *ngIf="serviceInvoiceAccess && vendor_SP_PageAccess"
        >
          <i
            class="fa fa-user-secret f-18 ml-r-12"
            aria-hidden="true"
            routerLinkActive="ml-9"
          ></i>
          Service Provider
        </div>
        <ul *ngIf="openBoolean" class="showHide f-13">
          <li
            class="navLink"
            id="sp_sub"
            [routerLink]="'serviceProvider'"
            [ngClass]="
              router.url == '/customer/serviceProvider' ? 'active' : 'navLink'
            "
          >
            List
          </li>
          <li
            class="navLink"
            id="sp_sub"
            [routerLink]="'serviceProvider/UtilityInvokeBatch'"
            [ngClass]="
              router.url == '/customer/serviceProvider/UtilityInvokeBatch'
                ? 'active'
                : 'navLink'
            "
          >
            Utility Invoice Batch
          </li>
          <!-- <li class="navLink" id="sp_sub" [routerLink]="'serviceProvider/summary'"
                      [ngClass]="router.url == '/customer/serviceProvider/summary'?'active':'navLink'">Summary </li> -->
          <!-- <li class="navLink" id="sp_sub" [routerLink]="'serviceProvider/invoices'"
                      [ngClass]="router.url == '/customer/serviceProvider/invoices'?'active':'navLink'">invoices</li> -->
          <!-- <li
            class="navLink"
            id="sp_sub"
            [routerLink]="'serviceProvider/bulk_upload'"
            [ngClass]="
              router.url == '/customer/serviceProvider/bulk_upload'
                ? 'active'
                : 'navLink'
            "
          >
            Bulk Upload
          </li> -->
          <li
            *ngIf="isAGIUser"
            class="navLink"
            id="sp_sub"
            [routerLink]="'serviceProvider/EtisalatCostAllocation'"
            [ngClass]="
              router.url == '/customer/serviceProvider/EtisalatCostAllocation'
                ? 'active'
                : 'navLink'
            "
          >
            Upload Etisalat
          </li>
        </ul>

        <div
          *ngIf="addUsersBoolean"
          class="navLink"
          data-text="Roles"
          routerLinkActive="active"
          [routerLink]="'roles'"
        >
          <!-- <i class="fa fa-user-plus f-18 ml-r-12" aria-hidden="true"></i> -->
          <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
            manage_accounts
          </span>
          Roles
        </div>

        <div *ngIf="!isDesktop" class="navLink" data-text="Change Password" (click)="openDialog()">
          <i
            class="fa fa-lock f-18 ml-r-12"
            aria-hidden="true"
            routerLinkActive="ml-9"
          ></i>
          Change Password
        </div>

        <div
          *ngIf="!isDesktop"
          class="navLink"
          data-text="Logout"
          (click)="displayResponsivepopup = true"
        >
          <i
            class="fa fa-sign-out f-18 ml-r-12"
            aria-hidden="true"
            routerLinkActive="ml-9"
          ></i>
          Logout
        </div>
      </div>

      <div class="copy">
        Copyrights <span class="cpr f-14">&#169;</span> 2023
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="bodyContent">
      <div class="d_desk1">
        <i
          class="fa fa-bars menu_icon f-16"
          aria-hidden="true"
          (click)="drawer.toggle()"
        ></i>
        <div class="f-right d_desk">
          <span class="userName last_log f-11">
            <span>Last login :&nbsp; </span>
            {{ last_login1 | date: "medium" }} <span style="color: crimson;">{{timezone}}</span> &nbsp; &nbsp;
          </span>
          <span
            class="b-right"
            style="padding-right: 14px; cursor: pointer"
            [routerLink]="'notifications'"
          >
            <i
              class="pi pi-bell p-mr-4 p-text-secondary f-18"
              [value]="numberOfNotify"
              pBadge
            ></i
          ></span>

          <span class="ml-2 dropdown">
            <i class="fa fa-user-circle-o profileIcon" aria-hidden="true"></i>
          </span>
          <span class="b-left-sky clr userName"
            >{{ userDetails?.userdetails?.firstName }}
          </span>
          <span (clickOutside)="onClickedOutside($event)">
            <mat-icon
              class="sign_out dropdown"
              svgIcon="logout"
              title="Sign Out"
              (click)="isActive()"
            ></mat-icon>
            <div
              [ngStyle]="{ display: showLogout ? 'block' : 'none' }"
              class="dropdown-content"
            >
              <a *ngIf="bothDocBoolean">Switch to {{switchtext}} 
                <span class="portal">
                <label class="switch">
                  <input
                    type="checkbox"
                    [checked]="ap_boolean"
                    (change)="portalChange()"
                  />
                  <span class="slider round"></span>
                </label>
              </span></a>
              <a (click)="openDialog()">Change Password</a>
              <a routerLink="profile">Profile</a>
              <a (click)="displayResponsivepopup = true">Logout</a>
            </div>
          </span>
        </div>
      </div>

      <nav class="d_mobile1">
        <!-- <div class="logotitle">
          <div class="logoPlaceholder">
            <img
              class="logo_img"
              src="assets/serina.png"
              alt="logo"
              width="35"
              height="35"
            />
          </div>
          <div class="placeLogo">
            Serina
            <span class="portalName">Customer Portal</span>
          </div>
        </div>
        <div class="f-right mr-3 mob_menu" (click)="onClickMenu()">
          <input type="checkbox" name="toggle-nav" />
          <label for="toggle-nav">
            <span class="menu-icon"></span>
          </label>
        </div> -->
        <section class="pos_rel" *ngIf="menubarBoolean">
          <div class="routeLinks route_mobile">
            <div
              class="navLink"
              routerLinkActive="active"
              data-text="Dashboard"
              [routerLink]="'home'"
            >
              <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
                home
              </span>
              Dashboard
            </div>

            <div
              *ngIf="uploadPermissionBoolean &&vendorInvoiceAccess"
              class="navLink"
              routerLinkActive="active"
              data-text="Upload"
              [routerLink]="'uploadInvoices'"
            >
              <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
                upload_file
              </span>
              Upload
            </div>
            <div
            class="navLink"
            routerLinkActive="active"
            data-text="Exceptions"
            [routerLink]="exceptionRoute"
            (click)="showInnerException()"
            *ngIf="excpetionPageAccess"
          >
            <i
              class="fa fa-pencil-square-o f-18 ml-r-12"
              aria-hidden="true"
              routerLinkActive="ml-9"
            ></i>

            Exceptions
          </div>
          <ul *ngIf="openBooleanException" class="showHide f-13">
            <li
              class="navLink"
              *ngIf="vendorInvoiceAccess"
              id="ex_sub"
              [routerLink]="'ExceptionManagement'"
              [ngClass]="
                router.url == '/customer/ExceptionManagement'
                  ? 'active'
                  : 'navLink'
              "
            >
              {{cust_type}} Based
            </li>
            <li
              class="navLink"
              id="ex_sub"
              *ngIf="serviceInvoiceAccess"
              [routerLink]="'ExceptionManagement/Service_ExceptionManagement'"
              [ngClass]="
                router.url ==
                '/customer/ExceptionManagement/Service_ExceptionManagement'
                  ? 'active'
                  : 'navLink'
              "
            >
              Service Based OCR
            </li>
          </ul>

          <div
            *ngIf="financeapproveDisplayBoolean && vendorInvoiceAccess && ap_boolean"
            class="navLink"
            routerLinkActive="active"
            data-text="Approval"
            [routerLink]="'approved'"
          >
            <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
              verified
            </span>
            Approval
          </div>
          <div
            class="navLink"
            routerLinkActive="active"
            data-text="Create GRN"
            [routerLink]="'Create_GRN_inv_list'"
            *ngIf="GRNCreationAccess && GRNPageAccess && vendorInvoiceAccess && ap_boolean"
          >
            <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
              verified
            </span>
            Create GRN
          </div>
      
            <div
              class="navLink"
              routerLinkActive="active"
              data-text="Document Status"
              [routerLink]="'invoice'"
            >
              <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
                receipt
              </span>
              Document Status
            </div>

            <div
              class="navLink"
              routerLinkActive="active"
              data-text="Summary"
              [routerLink]="'documentSummary'"
            >
              <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
                receipt
              </span>
              Summary
            </div>

            <div
              class="navLink"
              routerLinkActive="active"
              [data-text]="cust_type"
              [routerLink]="'vendor'"
              *ngIf="vendorInvoiceAccess && vendor_SP_PageAccess"
              (click)="sideMenuVendor()"
            >
              <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
                business_center
              </span>
              {{cust_type}}
            </div>
            <ul *ngIf="openBooleanVendor" class="showHide f-13">
              <li
                class="navLink"
                id="ex_sub"
                [routerLink]="'vendor'"
                [ngClass]="
                  router.url == '/customer/vendor' ? 'active' : 'navLink'
                "
              >
                List
              </li>
              <li
                class="navLink"
                id="ex_sub"
                [routerLink]="'vendor/item_master'"
                [ngClass]="
                  router.url.includes('item_master') ? 'active' : 'navLink'
                "
              >
                Item Master
              </li>
            </ul>

            <div
              class="navLink"
              [routerLink]="'serviceProvider'"
              routerLinkActive="active"
              data-text="Service Provider"
              (click)="showInner()"
              *ngIf="serviceInvoiceAccess && vendor_SP_PageAccess"
            >
              <i
                class="fa fa-user-secret f-18 ml-r-12"
                aria-hidden="true"
                routerLinkActive="ml-9"
              ></i>
              Service Provider
            </div>
            <ul *ngIf="openBoolean" class="showHide f-13">
              <li
                class="navLink"
                id="sp_sub"
                [routerLink]="'serviceProvider'"
                [ngClass]="
                  router.url == '/customer/serviceProvider'
                    ? 'active'
                    : 'navLink'
                "
              >
                List
              </li>
              <li
                class="navLink"
                id="sp_sub"
                [routerLink]="'serviceProvider/UtilityInvokeBatch'"
                [ngClass]="
                  router.url == '/customer/serviceProvider/UtilityInvokeBatch'
                    ? 'active'
                    : 'navLink'
                "
              >
                Utility Invoice Batch
              </li>
              <!-- <li class="navLink" id="sp_sub" [routerLink]="'serviceProvider/summary'"
                          [ngClass]="router.url == '/customer/serviceProvider/summary'?'active':'navLink'">Summary </li> -->
              <!-- <li class="navLink" id="sp_sub" [routerLink]="'serviceProvider/invoices'"
                          [ngClass]="router.url == '/customer/serviceProvider/invoices'?'active':'navLink'">invoices</li> -->
              <!-- <li
                class="navLink"
                id="sp_sub"
                [routerLink]="'serviceProvider/bulk_upload'"
                [ngClass]="
                  router.url == '/customer/serviceProvider/bulk_upload'
                    ? 'active'
                    : 'navLink'
                "
              >
                Bulk Upload
              </li> -->
              <li
                *ngIf="isAGIUser"
                class="navLink"
                id="sp_sub"
                [routerLink]="'serviceProvider/EtisalatCostAllocation'"
                [ngClass]="
                  router.url ==
                  '/customer/serviceProvider/EtisalatCostAllocation'
                    ? 'active'
                    : 'navLink'
                "
              >
                Upload Etisalat
              </li>
            </ul>

            <div
              *ngIf="addUsersBoolean"
              class="navLink"
              data-text="Roles"
              routerLinkActive="active"
              [routerLink]="'roles'"
            >
              <span class="material-icons f-18 ml-r-12" routerLinkActive="ml-9">
                manage_accounts
              </span>
              Roles
            </div>
            <div
              class="navLink"
              data-text="Change Password"
              (click)="openDialog()"
            >
              <i
                class="fa fa-lock f-18 ml-r-12"
                aria-hidden="true"
                routerLinkActive="ml-9"
              ></i>
              Change Password
            </div>

            <div
              class="navLink"
              data-text="Logout"
              (click)="displayResponsivepopup = true"
            >
              <i
                class="fa fa-sign-out f-18 ml-r-12"
                aria-hidden="true"
                routerLinkActive="ml-9"
              ></i>
              Logout
            </div>
          </div>
        </section>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>

<!-- Cnfirmation Dialog -->
<p-dialog
  header=" "
  [(visible)]="displayResponsivepopup"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="text-center">
    <div>
      <i
        class="pi pi-exclamation-triangle"
        style="font-size: 4rem; color: red"
      ></i>
    </div>
    <div class="deleteDivText">
      {{ BtnText }}
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-center mb-3">
      <button class="btn btnVender bg-btn-success mr-3" (click)="logout()">
        Yes
      </button>
      <button
        class="btn btnVender bg-btn-cancel"
        (click)="displayResponsivepopup = false"
      >
        Cancel
      </button>
    </div>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
