.centerCss {
    display: flex;
    min-height: 15vh;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.selectFilter {
    background: #f3f3f3;
    height: 54px;
    border-radius: 5px;
    padding: 4px 20px;
}
.selectFilter select {
    background: inherit;
    border: 0;
    position: relative;
    top: -9px;
    left: -16px;
}
.fileUploadDiv {
    display: flex;
    justify-content: center;
}