.card-div {
  min-width: 16vw !important;
  max-width: fit-content !important;
}

.selectFilter {
  height: 35px;
  width: 170px;
}

.filters_div {
  position: absolute;
  top: 53px !important;
  right: 275px !important;
  display: flex;
}
.filter_inputDash {
  right: 18px !important;
}
.tableDtDiv {
  position: relative;
  top: 0 !important;
}
.charts_height {
  position: relative;
  top: 0 !important;
}
.w-49 {
  width: 49%;
}
@media screen and (max-width:1300px) {
  .filter_inputDash {
    top: 50px;
      right: 0;
  }
  .filters_div {
    top: 82px;
    right: 0;
  }
  .tableDatDiv {
    position: relative;
    top: 27px;
  }

}
@media screen and (max-width: 800px){
  .filters_div {
      position: relative;
      top: 0 !important;
      left: 0;
  }
  .filter_inputDash {
    top: 4px !important;
    position: relative;
    left: 0;
  }
  .tableDtDiv {
    position: relative;
    top: 15px !important;
  }
  .w-49 {
    width: 100%;
  }
}

