<div>
    <h6>Global Level</h6>
    <div class="main_div" *ngIf="!testingMode">
        <div class="d-flex justify-content-between">
            <div class="relative">
              <input type="text" class="form-control global f-12" (keyup)="searchGlobalTags($event.target.value)" placeholder="Search By Tag Name...">
              <div class="search_box">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>
            <div class="d-flex f-12 justify-content-between">
                
                <div class="mr-3 textSwitch"> Vendor        
                  <span class="slider_span mr-1">
                    <label class="switch">
                      <input
                        type="checkbox"
                        [(ngModel)]="isServiceProvider"
                        (change)="changeServiceProvider()"
                      />
                      <span class="slider round"></span>
                    </label>
                  </span>
                  Service provider
                </div>
                <div class="mr-3 textSwitch"> line        
                  <span class="slider_span mr-1">
                    <label class="switch">
                      <input
                        type="checkbox"
                        [(ngModel)]="isHeader"
                        (change)="changeHeader()"
                      />
                      <span class="slider round"></span>
                    </label>
                  </span>
                  header
                </div>
                <div class="mr-3" style="cursor: pointer;" (click)="openFilterDialog($event,'prompt')"><img src="assets/Group 350.svg" alt="Edit prompt"> </div>
                <div><Button class="primaryButton bg_btn f-12" (click)="openFilterDialog($event,'tags')">Add More Tags +</Button></div>
            </div>
        </div>
        <div class="tableDiv">
            <table class="table f-13 table-striped">
                <thead>
                    <tr>
                        <th>Tag Name</th>
                        <th>Description</th>
                        <th>Is Mandatory</th>
                        <th>Is Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tag of tags">
                        <td>{{tag.Name}}</td>
                        <td>{{tag.Description}}</td>
                        <td class="text-center"><input type="checkbox"  [Name]="tag.Name" [id]="tag.Name" [checked]="tag.Ismandatory" (change)="checkTag($event.target.checked,tag,'Ismandatory')"></td>
                        <td class="text-center"><input type="checkbox"  [Name]="tag.Name" [id]="tag.Name" [checked]="tag.isUsed" (change)="checkTag($event.target.checked,tag,'isActive')"></td>
                        <td class="text-center"><Button class="del_btn"><i class="fa fa-trash-o"></i></Button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button class="primaryButton f-12" (click)="testingMode = true">Test Now</button>
        </div>
    </div>
    <div *ngIf="testingMode" class="d-flex justify-content-between" style="padding: 0px 20px;">
        <div class="disaply_div">
          <div *ngIf="isLoaded || isImgBoolean" class="d-flex pdf_btns">
            <div class="zoom mr-3">
              <span class="zoom-in" (click)="zoomIn()"
                ><i class="fa fa-search-plus" aria-hidden="true"></i
              ></span>
              <span class="zoom-out" (click)="zoomOut()"
                ><i class="fa fa-search-minus" aria-hidden="true"></i
              ></span>
            </div>
            <div class="pos-r navigatn" *ngIf="!isImgBoolean">
              <button (click)="prevPage()" [disabled]="page === 1" class="preBtn">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </button>
              <span class="totalPages">{{ page }} / {{ totalPages }}</span>
              <button
                (click)="nextPage()"
                [disabled]="page === totalPages"
                class="preBtn"
              >
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            </div>
      
            <div class="d-flex ml-3 mr-3" *ngIf="!isImgBoolean">
              <button class="preBtn" style="border-right: 1p solid lightgray;" (click)="rotate(-90)">
                <i class="fa fa-undo" aria-hidden="true"></i>
              </button>
              <button class="preBtn mr-1" (click)="rotate(90)">
                <i class="fa fa-repeat" aria-hidden="true"></i>
              </button>
            </div>
            <div></div>
      
          </div>
            <section class="maxPage">
                <div *ngIf="isImgBoolean" class="canvasConatiner_height">
                  <div id="parentDiv" class="docContainer">
                    <canvas #canvas id="canvas1" ></canvas>
                  </div>
                </div>
                <div *ngIf="!isImgBoolean && showInvoice" style="position: relative" class="docContaner">
                  <iframe
                  
                  [src]="showInvoice | safeUrl"
                  [style.transform]="'scale(' + zoom + ')'"
                  [style.width]="100 / zoom + '%'"
                  class="preview-frame"
                ></iframe>
                  <!-- <pdf-viewer
                    #pdfviewer
                    [src]="showInvoice"
                    style="width: 100%; overflow: auto"
                    [show-all]="true"
                    [zoom]="zoomdata"
                    [original-size]="false"
                    [fit-to-page]="true"
                    [page]="page"
                    [rotation]="rotation"
                    [render-text]="true"
                    [render-text-mode]="2"
                    (after-load-complete)="afterLoadComplete($event)"
                >
                </pdf-viewer> -->
                </div>
              </section>


              <!-- <img [src]="imageUrl" style="width: 100%;height: 80vh;"><br/> -->

        </div>
        <div class="upload_div">
            <div>
                <div class="drag-drop-container" 
                  (drop)="onDrop($event)" 
                  (dragover)="onDragOver($event)" 
                  (dragleave)="onDragLeave($event)" 
                  [class.highlight]="isDragOver">
                    <div> <i class="fa fa-upload uploadIcon" aria-hidden="true"></i></div>
                    <div class="f-13 mt-3">Drag & Drop your files here</div>
                    <div class="mt-3 f-11" style="font-weight: 400;">OR</div>
                    <button class="primaryButton mt-3 f-12 browse-button" (click)="fileInput.click()">Browse Files</button>
                    <input type="file" id="file" Name="file" accept=".pdf, .jpeg,.jpg,.png" multiple (change)="onFileChange($event)" #fileInput style="display: none;"> <br>
                    <button class="primaryButton mt-3 f-12 browse-button">Test Modal</button> <br>
                </div>
            </div>
        </div>
    </div>
</div>

<dialog #tagDialog class="dialog"> 
  <form *ngIf="isTagDialog">
    <div>
      <label for="tag_name" class="f-13 mb-1">Tag Name</label><br>
      <input type="text" class="form-control f-12" Name="tag_name" id="tag_name" placeholder="Type Tag Name.." >
    </div>
    <div class="mt-2">
      <label class="f-13 mb-1" for="description">Description</label><br>
      <textarea class="form-control f-12" Name="description" id="description" rows="5"></textarea>
    </div>
    <div class="d-flex justify-content-between f-12 mt-3">

      <div class=" d-flex">
        <div class="f-13 mr-2">Is Mandatory? - </div>
         No        
        <span class="slider_span mr-1 ml-1">
          <label class="switch">
            <input
              type="checkbox"
            />
            <span class="slider round"></span>
          </label>
        </span>
        Yes
      </div>

      <div class="d-flex">
        <div  class="f-13 mr-2">Is Active? - </div>
         No        
        <span class="slider_span mr-1 ml-1">
          <label class="switch">
            <input
              type="checkbox"
            />
            <span class="slider round"></span>
          </label>
        </span>
        Yes
      </div>
    </div>
    <footer class="d-flex justify-content-end mt-2">
      <button class="secondary_action_button f-12 mr-3" (click)="closeDialog()">Close</button>
      <button class="primary_action_button f-12" (click)="saveTags()">Save</button>
   </footer>
  </form>

  <div *ngIf="!isTagDialog">
    <label for="tag_name" class="f-13 mb-1">Write your prompt here</label><br>
    <textarea class="form-control f-12" [(ngModel)]="prompt" Name="prompt" id="prompt" rows="5" style="height: 150px;" (input)="updateCharacterCount($event)"></textarea>

    <div class="mt-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width.%]="(prompt?.length / 250) * 100" aria-valuenow="{{ prompt?.length }}" aria-valuemin="0" aria-valuemax="250"></div>
      </div>
      <div class="d-flex justify-content-between f-10 mt-1">
        <div>Allow only 250 characters</div>
        <div>{{ 250 - prompt?.length }} characters left</div>
      </div>
    </div>

    <footer class="d-flex justify-content-end mt-2">
      <button class="secondary_action_button f-12 mr-3" (click)="closeDialog()">Close</button>
      <button class="primary_action_button f-12" (click)="savePrompt()">Save</button>
   </footer>
  </div>

</dialog>