
.registrationDiv{
    display: flex;
    width: fit-content;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 10px;
    height: max-content;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
    overflow: hidden;
    background: white;
    flex-direction: column;
    align-items: center;

}
h1::first-letter{
    color: orangered;
}
.reginstration_fullpage{
    display: flex;
    justify-content: center;
    background-image: url("/assets/Frame\ 16.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
}
.inputForm{
    width: 360px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
}
.w-260{
    width: 260px;
}
label{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    color: #141010;
}
.title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: -20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000029;
    height: 50px;
    width: 100%;
    left: 0;
}
.nameHead{
    position: absolute;
    top: 2%;
    right: 3%;
    color: white;
    font-weight: 600;
    font-size: 25px;
}
.error-text{
    font-size: 12px;
    max-width: 270px;
    font-weight: 600;
    color: #ef5656;
}
.success-text{
    font-size: 12px;
    max-width: 270px;
    font-weight: 600;
    color: green;
}
.eye-show{
    position: relative;
    top: -30px;
    left: 270px;
}
.expireText{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.btnbg{
    margin-top: 10px;
    background: #f2be42;
}
.resend-div {
    padding: 10px;
    padding-left: 0;
    color: #6c757d;
}
.input-group-append {
    width: 30px;
}
.nav-tabs .nav-link {
    font-size: 16px;
}
.pass_pattern {
    background: white;
    position: relative;
    left: -20px;
}
:host ::ng-deep {
    .otp-input {
        font-size: 18px !important;
        background: #F3F3F3 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 2px #00000029;
        border-radius: 5px;
        border: 0 !important;
        font-weight: 600;
    }
    .wrapper {
        display: flex;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .inputForm {
        width: 100%;
    }
    .registrationDiv {
        padding: 10px;
    }
}

.slide {
    animation: slider .7s ease-in;
}

@keyframes slider {
    0% {
        transform: skewX(10deg) translate(-500px);
        opacity: 0;
    }
    60%{
        transform: skewX(0deg) translate(30px);
        opacity: 1;
    }
    100% {
        transform: skew(0deg);
    }
}
.add-subject {
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #00000029;
    width: 403px;
    height: 60px;
    display: grid;
    padding-top: 8px;
    padding-left: 17px;
}
.inputbox {
    width: 300px;
    font-size: small;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #140101;
    font-weight: 600;
    height: 31px;
    font-size: 14px;
    background: inherit;
    border: 0px solid lightgray;
    padding-left: 0; 
}
.form-cntnt{
    gap: 10px;
    display: grid;
}
.icon-btn{
    padding-right: 2px;
}
.input-group-append{
    height: 50px;
    padding-top: 7px;
    padding-right: 37px;
    margin-top: -23px;
    border: hidden;
    margin-right: 10px;
}
.input-group-text{
    padding-right: 7px;
    border: 0px solid lightgray;
    background-color: #f3f3f3;
}
.next-button{
   background: rgb(53, 141, 192); 
   color: white;
}
.butn-cntnr{
    justify-content: right;
    display: flex;
}
.dull-mode {
    opacity: 0.5;
    cursor: not-allowed;
}
.nameHead::first-letter {
    color: rgb(53, 141, 192);
    font-size: 30px;
}
// .nameHead::last-letter {
//     color: rgb(53, 141, 192);
// }
