$theme_color: var(--themeColor);


a {
  color: #272727 !important;
}

.label-head {
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 142px;
  opacity: 0.7;
}

.tabsDiv {
  position: relative;
  height: calc(100svh - 155px);
  background: #F1F1F1;
}


.form-control:disabled,
.form-control[readonly] {
  opacity: 0.9;
  cursor: not-allowed;
  border: 0;
  background: inherit;
}

.inputHeight {
  font-size: 11px;
  font-weight: 600;
  color: black;
  height: 34px;
  margin-right: 5px;
  width: 142px;
  text-overflow: ellipsis;
}



.maxPage {
  max-height: 87vh;
  overflow: auto;
  padding-right: 0px;
  top: 40px;
  max-height: 82vh !important;
  overflow: hidden;
}
#parentDiv {
  padding-left: 110px;
  background: white;
  overflow: auto;
}

.invert {
  display: flex;
  // overflow: auto;
}
.invert_tr {
  display: block;
  float: left;
  background-color: #f5f5f5;
  // border-bottom: 5px solid white;
}
.invert_th_td {
  display: block;
}
.invert_thtd {
  display: flex;
}
.w-des {
  width: 240px;
}
.w-sm {
  width: 100px;
  padding-left: 0;
}

.lineName {
  padding: 10px 10px;
  font-size: 11px;
  padding-left: 10px;
  min-width: 130px;
  // max-width: 130px;
  font-weight: 600;
  background-color: #EBEBEB !important;
  position: sticky;
  left: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.linevalue {
  padding: 1px 10px;
  font-size: 12px;
}
.lcm_table_td {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    max-width: 140px;
}

:host ::ng-deep {
  .p-multiselect {
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    width: 200px;
    position: relative;
    top: 3px;
  }
  .p-multiselect .p-multiselect-label {
    padding: 6px;
  }
  .p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
    font-size: 12px;
    font-weight: 600;
  }
  .p-multiselect-items {
    font-size: 12px;
    font-weight: 600;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ng2-pdf-viewer-container {
    background-color: white;
    border-radius: 10px;
    height: calc(100vh - 180px) !important;
    max-height: 82vh;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  .mat-expansion-panel-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    }
    .mat-expansion-panel-body {
        background-color: #f5f5f5;
    }
    .mat-expansion-panel-header {
        background-color: #f5f5f5 !important; 
    }
    .mat-expansion-indicator::after {
        position: relative;
        top: -4px;
    }
    .mat-expansion-panel-content {
      overflow: auto !important;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
      font-size: 12px;
      font-weight: 600;
    }
    
    .mapping .p-autocomplete-dd .p-autocomplete-dropdown {
      height: 28px;
    }
   
    .mapping .p-autocomplete {
      height: auto;
    }
    .mapping .p-autocomplete-dd .p-autocomplete-input,
    .p-autocomplete-dd .p-autocomplete-multiple-container {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      color: #272727;
      font-weight: 500;
      font-size: 12px;
      background: transparent;
      border: 0px solid lightgray;
      border-right: hidden;
      padding: 0;
      text-transform: lowercase;
      width: 25vw !important;
    }
    // .p-autocomplete {
    //   width: 18vw;
    // }
    .p-autocomplete .p-autocomplete-panel {
      font-size: 11px;
      font-weight: 600;
    }
    .p-autocomplete-loader {
      display: none;
    }
}
.bg-wt{
  background: white
}

.info_icon {
  font-size: 16px;
  margin-left: 0px;
  margin-top: 7px;
  color: #0e4574;
}
.old_value {
  font-size: 11px;
  font-weight: 600;
  margin-right: 10px;
  position: absolute;
  margin-top: -2px;
  max-width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}

.refresh_btn {
  position: absolute;
  z-index: 12;
  right: 10px;
  top: 6px;
}

.file_table {
  // position: absolute;
  // bottom: 50px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px;
  background: lemonchiffon;
  margin-left: auto;
  min-width: 410px;
}
.h-35{
  height: 35px;
}
.no_doc_div {
  min-height: 20vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.table th, .table td {
  border:1px solid #dee2e6;
  padding: 5px;
}
.viewPdf {
  position: absolute;
  right: 25px;
  z-index: 12;
  top: 8px;
}

.label_adjust {
  position: relative;
  top: -2px;
}
.selection_Div {
  padding: 10px;
  border: 0;
  border-radius: 6px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  background: #ffffff;
  min-height: 30vh;
  box-shadow: 0px 2px 6px #00000029;
}
.lcm_table_ht {
  max-height: calc(60vh - 60px);
  overflow: auto;
}

:host ::ng-deep {
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
    font-size: 11px;
    font-weight: 600;
  }
  p-autocomplete.ng-dirty.ng-invalid > .p-autocomplete > .p-inputtext {
    border-color: #d3d3d3 !important;
}
}


.w-42 {
  width: 42%;
}


.table th,
.table td {
  border-top: 0;
  padding: 8px;
}
.nav-tabs {
  background: white;
  // width: 100%;
  margin-top: -10px;
  padding: 5px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
  color: #14010180;
  position: relative;
  border-bottom: 1px solid lightgray !important;
}
.w-max{
  width: fit-content;
  min-width: 50%;
}
:host ::ng-deep {
  .nav-tabs .nav-link {
      background: #ffffff !important;
      border: none !important;
      color: #14010180 !important;
      height: auto;
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
      color: $theme_color !important;
      font-size: 14px;
      background-color: white !important;
      font-weight: 600;
      border-bottom: 2px solid $theme_color !important;
      border-radius: 0 !important;
      position: relative;
      top: -1px;
  }
}
.line_mob{
  // background: lightblue;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 5px;
    margin-top:4px;
}
.ulPOlist {
  list-style-type: none;
  padding: 0;
  max-height: 60vh;
  overflow: auto;
}
.ulPOlist li {
  padding: 6px 10px;
  border:1px solid lightgray;
  cursor: pointer;
}
.ulPOlist li:hover {
  background-color: #0e4574;
  color: white;
}
.activePO {
  background-color: #27ae60;
}
.po_s_icon {
  position: absolute;
    top: 23px;
    right: 12px;
}
.po_date {
  background: #e9ecef;
    padding: 4px 6px;
}
.processing-lines {
  padding: 0;
  animation: process-lines 10s infinite linear; /* Adjust the animation duration as needed */
}
@keyframes process-lines {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%); /* Adjust this value to control the speed of scrolling */
  }
}
:host ::ng-deep  {
  .p-datepicker .p-monthpicker .p-monthpicker-month {
  font-size: 11px;
  font-weight: 600;
}
.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 2rem;
  font-size: 13px;
  font-weight: 600;
}
}
.thtable {
  border-collapse: collapse !important;
  border-spacing: 0;
  border: 1px solid #dee2e6;
  padding: 5px;
}
.thtable th, .thtable td {
  padding: 5px;
}
.taglabel{
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width:1200px) {
  .zoom_pos_pdf {
    left: -160px;
  }
}
@media screen and (max-width: 576px) { 
  .doc_mobile {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 124;
    background: #272727;
  }
  .vi_mb_btn {
    position: absolute;
    right: 4px;
    top: -5px;
    color: $theme_color;
    z-index: 12;
  }
  .viewPdf {
    position: relative;
    z-index: 12;
    top: -13px;
  }
  .pdf_btns {
    justify-content: flex-start;
    margin: 0;
    border: 1px solid;
  }
  :host ::ng-deep {
    .ng2-pdf-viewer-container {
      margin-top: 25px;
    }
    .mat-expansion-panel-body {
      padding: 0 14px 16px;
    }
  }

  .zoom-in {
    padding: 0px 5px;
  }
  .zoom-out {
    padding: 0px 5px;
  }
  .maxPage {
    max-height: 93vh !important;
    overflow: auto;
  }
  .w-42 {
    width: 100%;
  }
  .refresh_btn {
    position: relative;
    top: 0;
    right: 0;
  }
  .old_value {
    position: relative;
    top: -3px;
    white-space: normal;
  }
  .lineName {
    padding: 0;
    background-color: inherit;
  }
}
.boxopen{
  cursor: pointer;
}
.headamtbox{
  font-weight: 700;
  padding-left: 15px;
  color: #140101;
  font-size: 14px;
  opacity: 100%;
}
.advSettingsButton{
  padding-top: 7px;
  padding-bottom: 7px;
  width: 130px;
  height: 34px;
  background-color: $theme_color;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.amount-box {
  position: absolute;
  top: 10%; /* Adjust as needed */
  left: 8%; /* Adjust as needed */
  z-index: 1000; /* Ensure the box appears over other contents */
  // border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 100%;
  border-radius: 5px;
  width: 255px;
  height: 210px;
  display: flex;
  flex-direction: column;
}

.amount-box label {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
  color: #140101;
  opacity: 60%;
  font-weight: 700;
  font-size: 12px;
}
.boxHead{
  padding-top: 8px;
}
.amount-box input {
  width: 100%;
  height: 30px;
  padding: 0px;
  margin-bottom: 10px;
  // box-sizing: border-box;
  border: none;
  outline: none;
  padding-left: 20px;
  color: #140101;
  border-radius: 5px;
}

.amount-box button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 34px;
  padding-right: 33px;
  width: 117px;
  height: 34px;
  background-color: $theme_color;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
button.submitButton:disabled {
  cursor: not-allowed;
  opacity: 0.5; /* You can adjust the opacity as needed */
}

.amount-box button.cancel {
  background-color: #ccc;
}

.tabs {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: flex;
  // border-bottom: 2px solid grey;
}

.tabs span {
  cursor: pointer;
  // margin-right: 10px; /* Set the gap between tabs */
  border-bottom: 1px solid #00000080;
  padding-bottom: 5px;
}

.tabs span:last-child {
  margin-right: 0; /* Remove margin for the last tab to avoid extra space */
}

.tabs span.active {
  border-bottom: 2px solid $theme_color;
  color: $theme_color;
}
.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}
.subButton{
  margin-left: 100px; /* Push the button to the right side */
  margin-top: auto; /* Align with the bottom */
  padding-top: 0px; /* Optional: Add some top padding */
  padding-right: 5px;
}

.percentage{
  padding-left: 10px;
  padding-right: 40px;
  text-align: left;
  font: normal normal normal 14px/21px;
  font-size: 14px;
}
.amount{
  padding-left: 40px;
  padding-right: 20px;
  text-align: left;
  font: normal normal normal 14px/21px;
  font-size: 14px;
}
.tabContent{
  padding-top: 5px;
  padding-left: 10px;

  .tabBg {
    background-color: #f0f0f0; /* Set your desired background color */
    padding: 0px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Optional: Add margin between tabs */
    display: inline-block;
    border-radius: 5px;
    width: 220px;
    height: 54px;
  }

  .tabBg label {
    display: block; /* Make the label a block element to occupy full width */
    margin-bottom: 5px; /* Optional: Add margin between label and input */
  }
  .tabBg input{
    background-color: #f0f0f0;;
  }
  
}
.button-container{
  display: flex;
  gap: 10px;
}
.accountSelect {
  width: 15vw !important;
  height: 35px;
  font-size: 13px;
}
.cibutton{
  padding-top: 10px;
}