$theme_color: var(--themeColor);

.tb_div {
  max-height: 66vh;
  overflow: auto;
  position: relative;
}
.tb_head {
  background: #f3f3f3 !important;
  position: sticky;
  top: -1px;
}
.tb_head th {
  padding: 8px 10px !important;
}
.total_table {
  position: absolute;
  top: 0;
  color: white;
}
.total_table tr:nth-child(1) {
  height: 30px;
  background: $theme_color;
}
.total_table tr:nth-child(2) {
  height: 30px;
  background: #358dc01a;
  color: black;
}
.total_table tr td {
  width: 10vw;
}
.footer {
  height: 55px;
  align-items: flex-end;
}
.table th,
.table td {
  padding: 0px 10px;
  vertical-align: middle;
  border: 0;
}
.p_l_40 {
  padding-left: 40px;
}
.table tr:nth-child(even) {
  background-color: #ffffff;
}
.table tr:nth-child(odd) {
  background-color: #358dc01a;
}
.inputHeight {
  font-size: 11px;
  font-weight: 600;
  color: black;
  height: 27px;
  // margin-right: 5px;
  width: 70px;
  border: 0;
  padding: 4px 10px;
  border-radius: 0;
}
.w-des {
  width: 100%;
  width: -webkit-fill-available;
}
.tabDiv {
  border-top: 2px solid lightgray;
  max-height: 60vh !important;
  margin-top: 2px;
  min-height: 41vh !important;
  overflow: auto;
}
.calender_div {
  background-color: #f2f2f2;
  border-radius: 6px;
}
:host ::ng-deep {
  .p-calendar .p-datepicker {
    left: -96px !important;
  }
  .p-calendar .p-inputtext {
    width: 160px !important;
    background-color: inherit;
    position: relative;
    top: 6px;
  }
  .p-datepicker-stay-open .p-datepicker-panel {
    display: block !important;
    visibility: visible !important;
  }
}
.invert {
  display: flex;
  // overflow: auto;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #f1f1f1 !important;
  opacity: 1;
}
.invert_tr {
  display: block;
  float: left;
  background-color: #f5f5f5;
  // width: 100%;
  // border-bottom: 5px solid white;
  // width: 100%;
}
.invert_th_td {
  display: block;
  border: 1px solid lightgray;
}
.invert_thtd {
  display: flex;
}
.lineName {
  padding: 10px 10px;
  font-size: 11px;
  padding-left: 10px;
  // min-width: 130px;
  // max-width: 130px;
  font-weight: 500;
  background-color: #ebebeb !important;
  position: sticky;
  left: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.linevalue {
  // padding: 1px 10px;
  font-size: 12px;
  height: 30px;
  background-color: white;
}
.count_line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  background: white;
  border: 1px solid lightgray;
}
.count-h {
  min-height: 56px;
}
.s-no {
  font-size: 11px;
  font-weight: 500;
  height: 26px;
  position: relative;
  top: 6px;
}
.m-l-neg {
  max-width: 64px;
}
.trash_btn {
  border-color: transparent;
  background: inherit;
}
.act_div {
  height: 25px;
  position: relative;
  left: -10px;
}
.man_btns {
  position: absolute;
    bottom: -26px;
    right: 30px;
}
::ng-deep .cdk-overlay-pane {
  position: absolute !important;
}
.toggle-btn {
  margin-right: 10px;
  height: 25px;
}
