.inputProfile{
    width: 70%;
    display: inline-block;
    margin-left: 50px;
    font-weight: 600;
    padding: 0px 10px;
    padding-top: 0!important;
    height: 33px;
    background: #f3f3f3;
}

.editBtn{
    position: absolute;
    right: 30%;
    top: 30%;
}
.onEditFalse{
    cursor: not-allowed;
    background: white;
    border: 0;
}
.onEditTrue{
    // background: white;
    border: 0px solid lightgray;
}
.colon{
    float: right;
    margin-right: 40px;
}
.tdLeft{
    font-size: 12px;
    color: #5d5a5a;
    font-weight: 500;
}
.tdRight{
    font-size: 12px;
    color: #5d5a5a;
    font-weight: 600;
}
.trHeight{
    height: 35px;
}
.bg-white {
    background-color: #ffffff;
}