:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 10px !important;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 10px;
  width: 100%;
}

.table_top {
  position: relative;
  top: 10px;
}

.card-div {
  // border: 1px solid #eee;
  border-radius: 10px;
  padding: 14px 20px 13px 15px;
  // background-color: #5DC5CC;
  color: #ffffff;
  min-width: 16vw;
}
.f-15 {
  font-size: 15px;
  font-weight: 600;
}
// .text_color {
//   font-size: 12px;
//   // color: #666363;
// }

.img-wrapper {
  width: 46px;
  height: 46px;
  margin: 0 15px 0 0;
  padding: 10px 13px 12px 12px;
  border-radius: 28px;
  text-align: center;
  color: white;
}
.card1-bg {
  background-color: #5dc5cc;
}
.card2-bg {
  background-color: #716197;
}

.bg-2 {
  background-color: #ffffff;
  color: #716197;
}
.bg-1 {
  background-color: white;
  color: #5dc5cc;
}

.table_scroll {
  max-height: 72vh;
  overflow: auto;
}
.selectFilter {
  height: 35px;
  width: 170px;
}
.filter_div {
  position: absolute;
  top: 55px;
  right: 303px;
}


// :host ::ng-deep .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
//     color: #272727 !important;
//     background-color: #f2be42 !important;
// }
// a{
//     color: #272727 !important;
// }
// :host ::ng-deep .nav-pills .nav-link {
//     border-radius: 10px;
//     font-weight: 600;
//     margin-right: 10px;
//     font-size: 12px;
//     padding: 4px 14px;
//     border: none;
// }
.down_filter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.p_head {
  // padding: 10px 54px 0px 54px;
  padding: 10px 0px;
}
// .s_p_body ul {
//   border-bottom: 1px solid #00000080 !important;
// }
.nav_sub {
  display: flex;
  background-color: #FFFFFF;
    height: 54px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 1px 8px;
}
.c_gap {
  column-gap: 12px;
  padding: 15px;
  min-width: 200px;
  background-color: #193B68;
  color: white;
}
.filter_box input {
  border: 0;
  width: 230px;
}
.filter_box input:focus {
  border: 0;
  outline: 0;
}
.nav-tabs .nav-item {
  margin-bottom: 0px;
  border-bottom: 2px solid #00000080 !important;
  width: 140px;
}
@media screen and (max-width: 576px) { 
  .card-div {
    min-width: 43vw;
  }
  .down_filter {
    float: none;
    margin-top: 10px;
    margin-right: 5px; 
    flex-wrap: wrap;
  }
  .selectFilter {
    width: 130px;
  }
  .table_scroll {
    max-height: 54vh;
  }
}
@media screen and (max-width: 800px) and (min-width: 577px) { 
  .card-div {
    min-width: 27vw;
  }
  .pt-55 {
    padding-top: 55px !important;
  }
}