section {
    max-height: 80vh;
    overflow: auto;
    padding: 5px 30px;
    font-weight: 600;
}
h6 {
    font-size: 14px;
    font-weight: 600;
}
li{
    font-size: 13px;
    font-weight: 500;
}
.heading {
    background: darkkhaki;
    width: fit-content;
    padding: 4px 20px;
    border-radius: 4px;
}